@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EvaluatePa</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' type='text/css'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style_", required: false)
    <style>
        .narhu_navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        /*        .narhu_navitem_ {
            float: left;
        }

            .narhu_navitem_ a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .narhu_navitem_ a:hover:not(.active) {
                    background-color: #111;
                }

        .active {
            background-color: #04AA6D;
        } */
    </style>

</head>
<body>
    <header>
        <div class="narhu_navbar">
            <div class="narhu_navitem_ d-inline-flex float-left">
                <div class="Narhu-container-top">
                    <Div class="Narhu-top"><div><strong>NARHU</strong> Powered By Education Sphere</div></Div>
                </div>
                <div class="box"></div>
            </div>
            <div class="narhu_navitem_ d-inline-flex pr-5 float-right">
                @{ var userName = Context.Session.GetString("userName");
                    var userRole = Context.Session.GetString("userRole");
                    var myIcon = "<i class='fa-solid fa-shield-check'></i>";

                    if (Context.Session.GetString("userName") != null && Context.Session.GetString("userName") != "")
                    {
                        <div class="w3-center m-0 mt-1"><img src="~/images/avatar3.png" class="w3-circle" style="height:38px;width:38px" alt="Avatar"></div>
                        <div class="p-0 pt-1 text-center pl-3 pr-3 mr-2 ml-2 disabled bg-light mt-2" style="min-width:120px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ff0000;border-radius:14px">

                            @if (userRole == "admin")
                            {
                                <i class="fa fa-shield"></i>
                            }
                            @userName
                        </div>
                        <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pl-1 mt-2 narhu_item" onclick="location.href='@Url.Action("Logout", "Home")'" style="width:29px;height:29px;font-size:1.15rem;font-weight:bold;border-color:#ffffff;">
                            <i class='fa fa-sign-out' style='color: white'></i>
                            <span class="tooltiptext" style="width:100px;margin-left:-60px;z-index:99999;">ออกจากระบบ</span>
                        </div>

                    }
                }

            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-0 footer text-muted">
        @*<div class="container">
                &copy; 2021 - EvaluatePa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
