@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EvaluatePa</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style_", required: false)
    @{
        var userId = @Context.Session.GetString("userId");
    }
<style>
    .container-fluid, main {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    @@media only screen and (max-width: 1370px) {
        main {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-green-custom box-shadow d-inline-flex">
            <div class="Narhu-container-top">
                <Div class="Narhu-top"><div><strong>NARHU</strong> Powered By Education Sphere</div></Div>

            </div><div class="box"></div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white pt-3 pb-1">
            <div class="container-fluid pt-0 pl-5 pr-5 border-bottom" style="border-top: 2px solid #9e9eff">
                <div class="pl-5 pr-5">
                    <button class="navbar-toggler float-left" style="margin-top:-2px;" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="margin-left:10px;padding-top:0px;">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item box-shadow keep-margin-left  keep-margin-top text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Dashboard" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="ManagementPA" asp-action="Dashboard_Index" asp-route-user="@Context.Session.GetString("userId")"><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-theme"></i>แดชบอร์ด</a>
                            </li>
                            <li class="nav-item box-shadow-blue keep-margin-left text-nowrap">
                                <a class="nav-link text-dark keep-padding-left a-Course" style="padding-left:20px;padding-right:20px" asp-area="" asp-controller="EvaluatePA2" asp-action="EvaluatePA2_Index" asp-route-user="@Context.Session.GetString("userId")"><i class="fa fa-book fa-fw w3-margin-right w3-text-theme"></i>ประเมินข้อตกลงพัฒนางาน (PA)</a>
                            </li>
                            
                           
                        </ul>
                    </div>
                </div>
                <div class="float-right">
                    <div class="btn btn-outline-light ml-5" onclick="location.href='@Url.Action("Logout", "Home")'" style="font-size:12px;color:#464646; padding:3px;width:80px;height:28px;margin-left:0px;margin:4px;">Signout</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-0 footer text-muted">
        @*<div class="container">
                &copy; 2021 - EvaluatePa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
