@using Microsoft.AspNetCore.Http;
@model PA_Form_Full;
@{
    ViewData["Title"] = "PA";
    Layout = "_Layout_NoMenu2";
}

@section Style_{
    <style>
        * {
            box-sizing: border-box;

        }
        body {
        font-size:16px;
        }

        .active {
            border: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

        .border-bottom-2 {
            border-bottom: 2px solid #0d140d;
        }

        .subform {
            border: 0px;
            border-bottom: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

            .subform .active {
                border: 1px solid #a9a7a7;
                border-bottom: 0px;
                border-radius: 7px 7px 0px 0px;
            }

        input {
            font: 5rem;
        }

        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }

            .close:hover {
                opacity: 1;
            }

            .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
            }

            .close:before {
                transform: rotate(45deg);
            }

            .close:after {
                transform: rotate(-45deg);
            }

        #mdiv {
            width: 32px;
            height: 32px;
            /*            background-color: red;*/
            border: 0.1rem solid #838383;
            border-radius: 4px;
            background-color: #dcdada;
        }

        #mdiv2 {
            width: 240px;
            height: 32px;
            color: white;
            /*            background-color: red;*/
            border: 0.1rem solid #838383;
            border-radius: 4px;
            background-color: #acaaaa;
        }

        #mdiv:hover {
            /*//width: 18px;
            //height: 18px;*/
            /*            background-color: red;*/
            background-color: #c4c2c2;
        }

        .mdiv {
            height: 18px;
            width: 3px;
            margin-left: 7px;
            background-color: red;
            transform: rotate(45deg);
            Z-index: 1;
        }

        .md {
            height: 18px;
            width: 3px;
            background-color: red;
            transform: rotate(90deg);
            Z-index: 2;
        }

        textarea {
            font-size: 14px;
            /*overflow-y: hidden;*/
        }

        .dynamicDiv {
            width: 200px;
            height: 100px;
            border: solid 1px #c0c0c0;
            background-color: #e1e1e1;
            padding: 5px;
        }
        th, td {
            font-size:15px;
            padding: 15px;
            border: solid 1px black;
            display: table-cell;
            vertical-align: top;
        }
        .center {
            display: flex;
            justify-content: center;
        }
        .pa-header, .pa-body {
            display: flex;
            flex-direction: column;
            
        }
        .header, .sub-header {
            display: flex;
            flex-direction: column;
        }
        .ml-10 {
            margin-left:10px;
        }
        .mr-10 {
            margin-right: 10px;
        }
        div, p, th, td {
            font-family: 'Sarabun', sans-serif;
        }
        .font_kanit {
            font-family: 'Kanit', sans-serif;
        }
    </style>
}
<div class="container pl-10 pr-10">
    <div class="col-lg-12 col-xl-12 mt-2">
        <div class="card border-0 mb-10">
            <div class="card-header bg-white border-0 border-top p-0 pl-1 pr-1">
                <div class="border-bottom-2 pt-1">

                    <form class="form-inline justify-content-between" asp-route="">
                        <div class="d-xl-inline-flex">
                            <div id="page_1" class="mt-2 p-0 pl-4 pr-4 active">
                                <p class="m-0 mt-1 mb-1 font_kanit">แบบฟอร์มขอประเมินขอตกลงพัฒนางาน (PA)</p>
                            </div>
                            <input type="hidden" id="userId" name="userId" value="@Context.Session.GetString("userId")">
                            <input type="hidden" id="formId" name="userId" value="@Context.Session.GetString("formId")">

                        </div>

                        <div class="btn btn-outline-success ml-5 font_kanit" onclick="BACK('@ViewBag.ReturnPage');" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">กลับ</div>
                    </form>
                </div>
            </div>
            <div class="card-body border p-10 shadow">

                <div class="pa-body">
                    <div class="ml-5 mr-5 pl-5 pr-5">
                        <div class="row pl-3 d-inline-flex">
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="FirstName">ชื่อ-นามสกุล</label>
                                    <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_UserName @Model.UserInfo_LastName" />
                                    <input type="hidden" id="userId" name="userId" value="@Context.Session.GetString("userId")">
                                    <input type="hidden" id="formId" name="userId" value="@Context.Session.GetString("formId")">
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="salaryLevel">รับเงินเดือนในอันดับ คศ.</label>
                                    <input type="text" id="salaryLevel" name="salaryLevel" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_salaryLevel" />

                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="position">ตำแหน่งวิทยฐานะ</label>
                                    <input type="text" id="position" name="position" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_UserPosition" />

                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="salaryRate">อัตราเงินเดือน</label>
                                    <input type="text" id="salaryRate" name="salaryRate" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_salaryRate" />

                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="school">สถานศึกษา</label>
                                    <input type="text" id="school" name="school" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_School" />

                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="form-outline">
                                    <label class="form-label" for="memberOf">สังกัด</label>
                                    <input type="text" id="memberOf" name="memberOf" class="form-control form-control-lg" style="font-size: 14px; height: 35px;" value="@Model.UserInfo_memberOf" />

                                </div>

                            </div>


                        </div>

                        <br />

                        <div class="header">
                            ประเภทห้องเรียนที่จัดการเรียนรู้ (สามารถระบุได้มากกว่า 1 ประเภทห้องเรียน ตามสภาพการจัด การเรียนรู้จริง)
                        </div>
                        <div class="ml-5">
                             ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน
                        </div>
                        <div class="ml-5">
                             ห้องเรียนปฐมวัย
                        </div>
                        <div class="ml-5">
                             ห้องเรียนการศึกษาพิเศษ
                        </div>
                        <div class="ml-5">
                             ห้องเรียนสายวิชาชีพ
                        </div>
                        <div class="ml-5">
                             ห้องเรียนการศึกษานอกระบบ / ตามอัธยาศัย
                        </div>
                        <br />
                        <div>
                            ข้าพเจ้าขอแสดงเจตจำนงในการจัดทำข้อตกลงในการพัฒนางาน ตำแห่งครู วิทยฐานะครูชำนาญการพิเศษ ซึ่งเป็นตำแหน่งและวิทยฐานะที่ดำรงอยู่ในปัจจุบันกับผู้อำนวยการสถานศึกษา ไว้ดังต่อไปนี้
                        </div>
                        <br />
                        <hr>
                        <br />
                        <div>
                            <p class="thick">ส่วนที่ 1 ข้อตกลงในการพัฒนางานตามมาตรฐานตำแหน่ง</p>
                        </div>
                        <div>
                            <p class="thick">1. ภาระงาน จะมีภาระงานเป็นไปตามที่ก.ค.ศ. กำหนด</p>
                        </div>
                        <div class="ml-3">
                            1.1 ชั่วโมงสอนตามตารางสอน รวมจำนวน 15 ชั่วโมง/สัปดาห์  ดังนี้
                        </div>
                        <div class="ml-5 header">
                            <div>กลุ่มสาระการเรียนรู้คณิตศาสตร์</div>
                            <div>รายวิชาคณิตศาสตร์พื้นฐาน ชั้นมัธยมศึกษาปีที่ 6 จำนวน 8 ชั่วโมง 20 นาที/สัปดาห์</div>
                            <div class="ml-5">รายวิชาคณิตศาสตร์เพิ่มเติม ชั้นมัธยมศึกษาปีที่ 6 จำนวน 3 ชั่วโมง 20 นาที/สัปดาห์</div>
                            <div class="ml-5">รายวิชาคณิตศาสตร์เพิ่มเติม ชั้นมัธยมศึกษาปีที่ 1 จำนวน 50 นาที/สัปดาห์</div>
                        </div>
                        <div class="ml-5 header">
                            <div>กลุ่มสาระการเรียนรู้สังคมศึกษาศาสนาและวัฒนธรรม</div>
                            <div class="ml-5">รายวิชา หน้าที่พลเมือง ชั้นมัธยมศึกษาปีที่ 1 จำนวน 50 นาที/สัปดาห์ กิจกรรมพัฒนาผู้เรียน</div>
                            <div class="ml-5">รายวิชา ลูกเสือ/เนตรนารี ชั้นมัธยมศึกษาปีที่ 1 จำนวน 50 นาที/สัปดาห์</div>
                            <div class="ml-5">รายวิชา ชุมนุมห้องสมุดคณิตศาสตร์ ชั้นมัธยมศึกษาตอนต้น จำนวน 50 นาที/สัปดาห์</div>
                        </div>
                        <div class="header">
                            <div class="ml-3">1.2 งานส่งเสริมและสนับสนุนการจัดการเรียนรู้ จำนวน 2 ชั่วโมง 30 นาที/สัปดาห์</div>
                            <div class="ml-5">- การมีส่วนร่วมในชุมชนแหล่งการเรียนรู้ (PLC) จำนวน 1 ชั่วโมง 40 นาที/สัปดาห์</div>
                            <div class="ml-5">- กิจกรรมโฮมรูม  จำนวน  50 นาที/สัปดาห์</div>
                            <div class="ml-3">1.3 งานพัฒนาคุณภาพการจัดการศึกษาของสถานศึกษา จำนวน 6 ชั่วโมง/สัปดาห์</div>
                            <div class="ml-5">- หัวหน้ากลุ่มสาระการเรียนรู้คณิตศาสตร์ จำนวน 1 ชั่วโมง/สัปดาห์</div>
                            <div class="ml-5">- ผู้ช่วยงานธนาคารโรงเรียน	 จำนวน 2 ชั่วโมง/สัปดาห์</div>
                            <div class="ml-5">- ผู้ช่วยงานระบบดูแลช่วยเหลือนักเรียน	จำนวน 2 ชั่วโมง/สัปดาห์</div>
                            <div class="ml-5">- ผู้ช่วยงานห้องเรียนพิเศษ จำนวน 2 ชั่วโมง/สัปดาห์</div>
                            <div class="ml-3">1.4 งานตอบสนองนโยบายและจุดเน้น จำนวน........-.....ชั่วโมง/สัปดาห์</div>
                        </div>

                        <div>
                            <p class="thick">2. งานที่จะปฏิบัติตามมาตรฐานตำแหน่งครู</p> (ให้ระบุรายละเอียดของงานที่จะปฏิบัติในแต่ละด้านว่าจะดำเนินการอย่างไร โดยอาจระบุระยะเวลาที่ใช้ในการดำเนินการด้วยก็ได้)

                        </div>

                        <p>
                            2.1 ลักษณะงานที่เสนอให้ครอบคลุมถึงการสร้างและหรือพัฒนาหลักสูตรการออกแบบการจัดการเรียนรู้การจัดกิจกรรมการเรียนรู้การสร้างและหรือพัฒนาสื่อ นวัตกรรม เทคโนโลยี และแหล่งเรียนรู้ การวัดและประเมินผลการจัดการเรียนรู้
                            การศึกษา วิเคราะห์ สังเคราะห์เพื่อแก้ปัญหาหรือพัฒนาการเรียนรู้ การจัดบรรยากาศที่ส่งเสริมและพัฒนาผู้เรียนและการอบรมและพัฒนา
                            คุณลักษณะที่ดีของผู้เรียน
                        </p>

                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="LM_Task">งาน (Task) (โปรดระบุ)</label>
                                <textarea id="LM_Task" name="LM_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:14px;">@Model.LM_Task </textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="LM_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                <textarea id="LM_Outcomes" name="LM_Outcomes" class="form-control form-control-lg" style="font-size:14px;">@Model.LM_Outcomes </textarea>

                            </div>

                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="LM_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                <textarea id="LM_Indicators" name="LM_Indicators" class="form-control form-control-lg" style="font-size:14px;">@Model.LM_Indicators </textarea>
                            </div>
                        </div>

                        <p>2.2 ลักษณะงานที่เสนอให้ครอบคลุมถึงการจัดทำข้อมูลสารสนเทศของผู้เรียนและรายวิชา การดำเนินการตามระบบ ดูแลช่วยเหลือผู้เรียน การปฏิบัติงานวิชาการและงานอื่น ๆ ของสถานศึกษา และการประสานความร่วมมือกับผู้ปกครอง ภาคีเครือข่าย และหรือสถานประกอบการ</p>
                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="PS_Task">งาน (Task) (โปรดระบุ)</label>
                                <textarea id="PS_Task" name="PS_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:14px;">@Model.PS_Task </textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="PS_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                <textarea id="PS_Outcomes" name="PS_Outcomes" class="form-control form-control-lg" style="font-size:14px;">@Model.PS_Outcomes </textarea>

                            </div>

                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="PS_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                <textarea id="PS_Indicators" name="PS_Indicators" class="form-control form-control-lg" style="font-size:14px;">@Model.PS_Indicators </textarea>
                            </div>
                        </div>
                        <p>2.3 ลักษณะงานที่เสนอให้ครอบคลุมถึงการพัฒนาตนเองอย่างเป็นระบบ	และต่อเนื่อง การมีส่วนร่วม ในการแลกเปลี่ยนเรียนรู้ทางวิชาชีพเพื่อพัฒนาการจัดการเรียนรู้และการนำความรู้ความสามารถ ทักษะที่ได้จากการพัฒนาตนเอง และวิชาชีพมาใช้ในการพัฒนาการจัดการเรียนรู้ การพัฒนาคุณภาพผู้เรียน และการพัฒนานวัตกรรม	การจัดการเรียนรู้</p>
                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="SP_Dev_Task">งาน (Task) (โปรดระบุ)</label>
                                <textarea id="SP_Dev_Task" name="SP_Dev_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:14px;">@Model.SP_Dev_Task </textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="SP_Dev_Dev_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                <textarea id="SP_Dev_Dev_Outcomes" name="SP_Dev_Dev_Outcomes" class="form-control form-control-lg" style="font-size:14px;">@Model.SP_Dev_Dev_Outcomes </textarea>

                            </div>

                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="SP_Dev_Dev_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                <textarea id="SP_Dev_Dev_Indicators" name="SP_Dev_Dev_Indicators" class="form-control form-control-lg" style="font-size:14px;">@Model.SP_Dev_Dev_Indicators </textarea>
                            </div>
                        </div>


                        <div class="header">
                            <div>หมายเหตุ</div>
                            <div class="ml-5">1. รูปแบบการจัดทำข้อตกลงในการพัฒนา ตามแบบ PA 1 ให้เป็นไปตามบริบท และสภาพการจัดการเรียนรู้ของแต่ละสถานศึกษา โดยความเห็นชอบร่วมกันระหว่างผู้อำนวยการสถานศึกษา และข้าราชการครูผู้จัดทำข้อตกลง</div>
                            <div class="ml-5">2. งาน (Tasks) ที่เสนอเป็นข้อตกลงในการพัฒนางานต้องเป็นงานในหน้าที่ความรับผิดชอบหลัก ที่ส่งผลโดยตรงต่อผลลัพธ์การเรียนรู้ของผู้เรียน และให้นำเสนอรายวิชาหลักที่ทำการสอน โดยเสนอในภาพรวม ของรายวิชาหลักที่ทำการสอนทุกระดับชั้น ในกรณีที่สอนหลายรายวิชา สามารถเลือกรายวิชาใดวิชาหนึ่งได้ โดยจะต้องแสดงให้เห็นถึงการปฏิบัติงานตามมาตรฐานตำแหน่ง และคณะกรรมการประเมินผลการพัฒนางาน ตามข้อตกลงสามารถประเมินได้ตามแบบการประเมิน PA 2</div>
                            <div class="ml-5">3. การพัฒนางานตามข้อตกลง ตามแบบ PA 1 ให้ความสำคัญกับผลลัพธ์การเรียนรู้ ของผู้เรียน (Outcomes) และตัวชี้วัด (Indicators) ที่เป็นรูปธรรม และการประเมินของคณะกรรมการประเมินผลการพัฒนางานตามข้อตกลง ให้คณะกรรมการดำเนินการประเมิน ตามแบบ PA 2 จากการปฏิบัติงานจริง สภาพการจัดการเรียนรู้ในบริบทของแต่ละสถานศึกษา และผลลัพธ์การเรียนรู้ของผู้เรียนที่เกิดจากการพัฒนางาน ตามข้อตกลงเป็นสำคัญ โดยไม่เน้นการประเมินจากเอกสาร</div>
                        </div>
                        <br />
                        <div class="header">
                            <div><p class="thick">ส่วนที่ 2 ข้อตกลงในการพัฒนางานที่เป็นประเด็นท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียน</p></div>
                            <div class="ml-5">
                                ประเด็นที่ท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียนของผู้จัดทำข้อตกลง ซึ่งปัจจุบันดำรงตำแหน่งครู วิทยฐานะครูชำนาญการพิเศษ ต้องแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังของวิทยฐานะครูชำนาญการพิเศษ คือ การริเริ่ม พัฒนา การจัดการเรียนรู้และการพัฒนาคุณภาพการเรียนรู้ของผู้เรียน ให้เกิดการเปลี่ยนแปลงไปในทางที่ดีขึ้นหรือมีการพัฒนามากขึ้น (ทั้งนี้ ประเด็นท้าทายอาจจะแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังในวิทยฐานะที่สูงกว่าได้)

                            </div>
                            <br />
                            <div class="ml-5">
                                ประเด็นท้าทาย เรื่อง  @Model.CL_Point

                            </div>
                            <div class="ml-5">
                                เพื่อใช้ในการจัดการเรียนการสอนในช่วงสถานการณ์การระบาดด้วยโรคติดเชื้อไวรัสโคโรน่า 2019 ในรูปแบบออนไลน์และสามารถนำมาประยุกต์ใช้ในการจัดการเรียนการสอน แบบ on-site ในลักษณะห้องเรียนกลับด้าน มีการสร้างหน่วยการเรียนรู้ตามหลักสูตร จัดทำคลิปสอน สร้างแบบทดสอบ สร้างหน่วยเก็บผลงานนักเรียน  เก็บระบบข้อมูลผลงานนักเรียน  สร้างแบบทดสอบแยกตามผลสัมฤทธิ์ทางการเรียน


                            </div>

                        </div>
                        <div class="header">
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="CL_Point">ประเด็นที่ท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียนของผู้จัดทำข้อตกลง ซึ่งปัจจุบันดำรงตำแหน่งครู วิทยฐานะครูชำนาญพิเศษ ต้องแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังของวิทยฐานะเชี่ยวชาญ คือ การคิดค้น และการปรับเปลี่ยน ให้คุณภาพการเรียนรู้ของผู้เรียนสูงขึ้น เป็นแบบอย่างที่ดีและให้คำปรึกษาผู้อื่น (ทั้งนี้ ประเด็นท้าทายอาจจะแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังในวิทยฐานะที่สูงกว่าได้)</label>
                                    @*<input type="text" id="CL_Point" name="CL_Point" class="form-control form-control-lg" style="font-size:14px;" value="@Model.CL_Point"/>*@

                                </div>

                            </div>
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="CL_Point_Text">ประเด็นท้าทาย เรื่อง</label>
                                    @*<input type="text" id="CL_Point_Text" name="CL_Point_Text" class="form-control form-control-lg" style="font-size:14px;" value="@Model.CL_Point_Text" />*@
                                    <textarea id="CL_Point_Text" name="CL_Point_Text" class="form-control form-control-lg" style="font-size:14px;">@Model.CL_Point_Text </textarea>

                                </div>

                            </div>
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="Problem_State">1.สภาพปัญหาการจัดการเรียนรู้ และคุณภาพการเรียนรู้ของผู้เรียน</label>
                                    <textarea id="Problem_State" name="Problem_State" class="form-control form-control-lg" style="font-size:14px;">@Model.Problem_State </textarea>

                                </div>

                            </div>
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="Method_To_Acheivment">2.วิธีการดำเนินการให้บรรลุผล</label>
                                    <textarea id="Method_To_Acheivment" name="Method_To_Acheivment" class="form-control form-control-lg" style="font-size:14px;">@Model.Method_To_Acheiivment </textarea>

                                </div>

                            </div>
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="QT_Expect_Result">3. ผลลัพธ์การพัฒนาที่คาดหวัง<br />3.1 เชิงปริมาณ</label>

                                    <textarea id="QT_Expect_Result" name="QT_Expect_Result" class="form-control form-control-lg" style="font-size:14px;">@Model.QT_Expect_Result </textarea>

                                </div>

                            </div>
                            <div class="col-md-12 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="QL_Expect_Result">3.2 เชิงคุณภาพ</label>
                                    <textarea id="QL_Expect_Result" name="QL_Expect_Result" class="form-control form-control-lg" style="font-size:14px;">@Model.QL_Expect_Result </textarea>

                                </div>

                            </div>

                        </div>



                        <div class="col-xl-4 col-lg-6 col-md-12 pt-0" style="display: @ViewBag.Show ">
                            <div class="d-inline-flex justify-content-between">
                                <div class="btn btn-success ml-3" onclick="AJ_Submit_Appr(206);" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">อนุมัติ</div>
                                <div class="btn btn-success ml-5" onclick="AJ_Submit_Appr(208);" style="padding:3px;width:200px;height:32px;margin-left:0px;margin:4px;">อนุมัติแบบมีเงื่อนไข</div>
                                <div class="btn btn-danger ml-5" onclick="AJ_Submit_Appr(207);" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ไม่อนุมัติ</div>

                            </div>
                        </div>

                    </div>                            
                </div>            
            </div>            
        </div>
    </div>
</div>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>







@section Scripts {
    <script>
        $(window).on("load", function () {
            setTimeout(fadout, 500);
            populate_sbj();

        });
        function populate_sbj() {
            var res = '@(ViewBag.Sbj_Hr)'.replace(/&quot;/g, '"');
            //alert(res);
            var sbj_Json = JSON.parse(res);
            //alert(sbj_Json.length);
            for (var s = 0; s <= sbj_Json.length - 1; s++) {
                if (sbj_Json[s].hasOwnProperty('subject')) {
                    //alert('subject');
                    var str = sbj_Json[s].subject;
                    var elem = document.createElement("div");
                    elem.innerHTML = str;
                    //alert(elem.textContent);
                    createRow(elem.textContent, sbj_Json[s].hour);
                    //https://stackoverflow.com/questions/31475747/convert-this-unicode-to-string-with-javascript-thai-language
                    //createRow(decodeURIComponent(escape(sbj_Json[s].subject)), sbj_Json[s].hour);
                }
                else if (sbj_Json[s].hasOwnProperty('Total')) {
                    //alert('subject');
                    calculateTotal();
                    //createRow(sbj_Json[s].subject, sbj_Json[s].hour);
                }
            }

        }
        function fadin() {
            $(".loader-wrapper").fadeIn(5);
        }
        function fadout() {
            $(".loader-wrapper").fadeOut(500);
            $("textarea").trigger("click");
        }
        function animate() {
            //alert("");
            fadin();
            fadout();
        }
    </script>

    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-EvaluatePA').addClass('active_');
        $('.a-EvaluatePA').removeClass('text-dark');
    </script>
    <script>
        //var tx = document.getElementsByTagName('textarea');
        //for (var i = 0; i < tx.length; i++) {
        //    tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;font-size:14px;');
        //    //tx[i].addEventListener("input", OnInput, false);
        //}

        //function OnInput(e) {
        //    this.style.height = 'auto';
        //    this.style.height = (this.scrollHeight) + 'px';
        //$(document).on('ready', 'textarea', function () {
        //    $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        //})
        function textAreaFit() {
            var tx = document.getElementsByTagName('textarea');
            for (var i = 0; i < tx.length; i++) {
                tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;font-size:14px;');

                //tx[i].addEventListener("input", OnInput, false);
            }
        }
        $(document).on('click', 'textarea', function () {
            $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        })
        $(document).on('input', 'textarea', function () {
            $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        })
        function fireTrigger() {

            //var tx = document.getElementsByTagName('textarea');
            //for (var i = 0; i < tx.length; i++) {
            //    tx[i].setAttribute('style', 'height:' + '125' + 'px;overflow-y:hidden;font-size:14px;');

            //    //tx[i].addEventListener("input", OnInput, false);
            //}
            $("textarea").trigger("click");
            //alert("clicked");
        }

        function deleteItem(x) {

            //alert(x.className);
            var clickDiv = document.getElementsByClassName(x.className)[0];
            var td_ = clickDiv.parentNode;   //td
            var tr_ = td_.parentNode;   //tr
            //alert(tr_.id);
            //var deleteDiv = document.getElementById(tr_.id);
            //alert(deleteDiv.parentNode.childNodes.length);
            //alert(deleteDiv.rowIndex);
            tr_.parentNode.removeChild(tr_);
            calculateTotal();
        }

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }




        function createDiv() {
            

            var divTag = document.createElement("div");
            divTag.id = "div1";
            divTag.setAttribute("align", "center");
            divTag.style.margin = "0px auto";
            //divTag.className = "dynamicDiv";
            divTag.innerHTML = "This HTML Div tag is created dynamically using Javascript.";
            document.body.appendChild(divTag);

        }
        function createRow(sbj,hr) {

            //var targetTabel = document.getElementById(table-subject);
            //<div id="mdiv" style="padding:5px 0px 4px 6px;" onclick="deleteItem();alert('Delete subject');">
            //    <div class="mdiv">
            //        <div class="md" ></div>
            //    </div>
            //</div>

            var UUID_ = uuidv4();
            //alert('Add subject');
            var table = document.getElementById("tbody-subject");
            var lastRow = table.rows[table.rows.length - 1];
            var lastRowIndex = table.rows.length - 1;
            //alert(table.rows[lastRowIndex]);
            var div_1 = document.createElement("DIV");

            div_1.id = "mdiv";
            div_1.className = uuidv4();
            div_1.style.padding = "5px 0px 4px 6px";
            div_1.setAttribute("onclick", "deleteItem(this);");
            var div_2 = document.createElement("DIV");
            div_2.className = "mdiv";
            var div_3 = document.createElement("DIV");
            div_3.className = "md";
            div_2.appendChild(div_3)
            div_1.appendChild(div_2)


            var divTagTd1 = document.createElement("td");

            divTagTd1.style.padding = "5px 0px 5px 5px";
            var divTagTd2 = document.createElement("td");
            divTagTd2.style.padding = "0px";
            divTagTd2.style.fontSize = "14px";
            //divTagTd2.innerHTML = "";

            var div_4 = document.createElement("DIV");
            div_4.className = ("d-inline-flex pt-1 pb-1");
            //div_4.addClass("pt-1");
            //div_4.addClass("pb-1");
            var span_1 = document.createElement("SPAN");
            span_1.className = "pt-1";
            span_1.innerHTML = "กลุ่มสาระการเรียนรู้/รายวิชา";
            var span_2 = document.createElement("SPAN");
            span_2.className = "pt-1";
            span_2.innerHTML = "จำนวน";
            var span_3 = document.createElement("SPAN");
            span_3.className = "pt-1";
            span_3.innerHTML = "ชั่วโมง/สัปดาห์";

            var inp_1 = document.createElement("INPUT");
            inp_1.className = "form-control form-control-lg ml-3 mr-3";
            inp_1.id = "subject";
            inp_1.style.fontSize = "14px";
            inp_1.style.width = "400px";
            inp_1.style.height = "35px";
            inp_1.setAttribute("type", "text");
            inp_1.setAttribute("name", "subject-name");
            inp_1.value = sbj;

            var inp_2 = document.createElement("INPUT");
            inp_2.className = "form-control form-control-lg ml-3 mr-3 text-center";
            inp_2.id = "subject-hour";
            //inp_2.name = "subject-hour";
            inp_2.style.fontSize = "14px";
            inp_2.style.width = "100px";
            inp_2.style.height = "35px";
            inp_2.setAttribute("type", "text");
            inp_2.setAttribute("name", "subject-hour");
            inp_2.value = hr;

            inp_1.addEventListener("input", function (e) {
                //alert(this.id);
                var a, b, i, val = this.value;

            });
            inp_1.addEventListener("keydown", function (e) {

                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    //currentFocus++;
                    /*and and make the current item more visible:*/
                    //addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    //currentFocus--;
                    /*and and make the current item more visible:*/
                    //addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    //if (currentFocus > -1) {
                    //    /*and simulate a click on the "active" item:*/
                    //    if (x) x[currentFocus].click();
                    //}
                }
            });

            inp_2.addEventListener("keyup", function (e) {
                //alert(this.nodeValue);
                calculateTotal();
            });
            inp_2.addEventListener("keydown", function (e) {
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    //currentFocus++;
                    /*and and make the current item more visible:*/
                    //addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    //currentFocus--;
                    /*and and make the current item more visible:*/
                    //addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    //if (currentFocus > -1) {
                    //    /*and simulate a click on the "active" item:*/
                    //    if (x) x[currentFocus].click();
                    //}
                }

            });


            //<input type="text" id="subject" name="subject" class="form-control form-control-lg ml-3 mr-3" style="font-size: 14px; height: 35px;" />

            div_4.appendChild(span_1);
            div_4.appendChild(inp_1);
            div_4.appendChild(span_2);
            div_4.appendChild(inp_2);
            div_4.appendChild(span_3);

            divTagTd2.appendChild(div_4);
            var divTr = document.createElement("tr");
            divTr.id = UUID_;
            divTr.style.outerHeight = "44px";
            divTagTd1.appendChild(div_1);
            divTr.appendChild(divTagTd1);
            divTr.appendChild(divTagTd2);

            //document.getElementById("tbody-subject").appendChild(divTr);

            table.insertBefore(divTr, table.lastElementChild);

        }

        function calculateTotal() {

            let total = document.getElementById("Total_Hour_Schedule_str")
            //total.value = e.target.value;
            //alert(inputTextValue);
            let input = document.getElementsByName("subject-hour");
            var sum = 0;
            for (var i = 0; i < input.length; i++) {

                if (isNaN(input[i].value)) { }
                else {
                    sum = Number(sum) + Number(input[i].value);
                }

            }
            total.value = sum;


        }

    </script>


    <script>
   
        
       
       
        function BACK(page) {
            let user_Id = $('#userId').val();
            window.location.assign("/ManagementPA/" + page + "?user_id=" + user_Id);

        }
        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }

      


        function AJ_Submit_Appr(status) {
            //alert("Delete PA : " + id + "-" + Name + " ?");
            let user_Id = $('#userId').val();
            let form_Id = $('#formId').val();
            var param = "Id=" + form_Id + "&status=" + status
                + "&submit=yes";
            if (confirm("Approved : " + form_Id + "-" + '' + " ?")) {
                // Save it!
                //console.log('Thing was saved to the database.');

                $.ajax({

                    type: 'GET',
                    url: '/ManagementPA/SetAppoveForm_AJ?' + param,
                    success: function (result) {
                        //hideModal_Info();
                        //location.reload();
                        window.location.assign("/ManagementPA/Dashboard_Evaluate?user=" + user_Id);

                    }
                });

            } else {
                // Do nothing!

                //console.log('Thing was not saved to the database.');
            }

        }




    </script>
}