@using Microsoft.AspNetCore.Http;
@model IEnumerable<CalendarInfo>
@{
    ViewData["Title"] = "PA";
    var id_ = @Context.Session.GetString("userId");
}
@section Style_{
    <style>
        .btn-x {
            color: #a0a0a0;
            background-color: #fafafa;
        }

            .btn-x:hover {
                color: #ffffff;
                background-color: #e0e0e0;
                box-shadow: rgba(155,155,155,0.5) 1px 1px 5px;
            }

        .event {
            color: #ffffff;
            background-color: #0360c6;
        }

            .event:hover {
                color: #000000;
                text-shadow: none;
            }

        .form-label {
            font-size: 12px;
        }
        /*.card-header{
            height:20px;
            color:black;
            vertical-align:central;
        }*/


        /**/




    </style>
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 mt-2">
            <div class="card border-0">
                <div class="card-header bg-white border-0 border-top p-0 pl-1 pr-1">
                    <div class="border-top pt-2">
                        <h5><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>วิทยฐานะ</h5>
                        <input type="hidden" id="userId" name="userId" value="@Context.Session.GetString("userId")">
                    </div>
                </div>
                <div class="card-body p-1">
                    <input type="button" value="แบบฟอร์มพัฒนางาน (PA)" class="btn bg-light" onclick="location.href='@Url.Action(" Main", "Home" , new { user_id=@id_})'" style="width:100%;border-color:#d4d4d4;height:35px;">
                    <input type="button" value="จัดการวิดีโอที่บันทึกในห้องเรียน" class="btn bg-light mt-1" onclick="location.href='@Url.Action(" Index", "Video" , new { user_id=@id_})'" style="width:100%;border-color:#d4d4d4;height:35px;">
                    <input type="button" value="จัดการตารางเรียน/ตารางสอน" class="btn bg-light mt-1" onclick="location.href='@Url.Action(" Calendar", "EvaluatePA" , new { user_id=@id_})'" style="width:100%;border-color:#d4d4d4;height:35px;">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9 mt-2">
            <div class="card border-0 p-0">
                <div class="card-header bg-white border-0 border-top p-0 pr-2">
                    <div class="border-top pt-1">
                        <form class="form-inline" asp-route="">
                            <div class="d-flex justify-content-between mt-2" style="width:100%;height:39px;padding:5px;background-color:#dfdfdf;border-radius:20px;opacity:1.0;">
                                <div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="School"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;"><i class="fa fa-university"></i></div>
                                    <div class="btn rounded-circle btn-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Lecturer"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;"><i class="fa fa-user"></i></div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Calendar"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;"><i class="fa fa-calendar"></i></div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Calendar"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;"><i class="fa fa-plus"></i></div>
                                    @*<p><i class="fa fa-file fa-fw w3-margin-right w3-text-theme"></i>แบบฟอร์มพัฒนางาน (PA)</p>*@
                                </div>
                                <div class="la d-flex">
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0" onclick="AJ_Calendar_Prev();" style="width:29px;height:29px;font-size:1.15rem;font-weight:bold;border-color:#ffffff;"><i class='fa fa-angle-left'></i></div>
                                    <div class="p-0 pt-1 text-center pl-3 pr-3 mr-2 ml-2 disabled bg-light" onclick="location.href = '';" style="min-width:60px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;border-radius:14px">
                                        @ViewBag.StartDate - @ViewBag.EndDate
                                    </div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0" onclick="AJ_Calendar_Next();" style="width:29px;height:29px;font-size:1.15rem;font-weight:bold;border-color:#ffffff;"><i class='fa fa-angle-right m-0'></i></div>
                                </div>
                                <div class="float-right">
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Calendar"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;">W</div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Calendar"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;">M</div>
                                    <div class="btn rounded-circle btn-outline-secondary btn-x p-0 pt-1" onclick="location.href = '@Url.Action("Management_Index","EvaluatePA", new { user_id=@id_,mgSection="Calendar"})';" style="width:29px;height:29px;font-size:0.85rem;font-weight:normal;border-color:#ffffff;">Y</div>
                                </div>

                            </div>



                        </form>
                    </div>
                </div>
                <div class="card-body border-0 p-1">
                    <!--Grid row-->
                    <div class="row wow fadeIn p-0">
                        @if (ViewBag.mgSection == "School")
                        {
                            <!--Grid column-->
                            <div class="col-md-12 mb-12 p0">

                                <!--Card-->
                                <div class="card border-0 p-0">

                                    <!--Card content-->
                                    <div class="card-body border-0 p-0">

                                        <!-- Table  -->
                                        <table class="table table-hover border-bottom">
                                            <!-- Table head -->
                                            <thead class="blue-grey lighten-4 border-top">
                                                <tr>
                                                    <th class="text-center">ลำดับ</th>
                                                    <th>สถานศึกษา</th>
                                                    <th class="text-center">จังหวัด</th>
                                                    @*<th class="text-center">สถานะ</th>
                                                        <th class="text-center">Export</th>
                                                        <th class="text-center">เครื่องมือ</th>*@
                                                </tr>
                                            </thead>
                                            <!-- Table head -->
                                            <!-- Table body -->
                                            <tbody>

                                                @if (Model != null)
                                                {
                                                    @*var i = 1;
                                                        foreach (var PA_Report_Model in Model)
                                                        {

                                                            <tr>
                                                                <td class="text-center" scope="row">@i</td>
                                                                <td>@PA_Report_Model.Form_Name</td>
                                                                <td class="text-center">@PA_Report_Model.Date_Time</td>
                                                                <td class="text-center">
                                                                    <div id="status_" class="status @PA_Report_Model.status">
                                                                        @PA_Report_Model.status
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <div class="btn btn-success p-0 pt-1" onclick="location.href='@Url.Action(" PA_Export", "EvaluatePA")'" style="width:90px;height:25px;font-size:0.65rem;font-weight:normal;"><i class="fa fa-share w3-text-theme text-white"></i>&nbsp;Export PDF</div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="View_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-eye w3-text-theme"></i></div>
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="Edit_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-pencil w3-text-theme"></i></div>
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn delete bg-light btn-sm pt-0" onclick="Delete_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-trash-o w3-text-theme"></i></div>
                                                                </td>
                                                            </tr>

                                                            i++;
                                                        }*@
                                                }
                                                else
                                                { }


                                            </tbody>
                                            <!-- Table body -->
                                        </table>
                                        <!-- Table  -->

                                    </div>

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                        }
                        else if (ViewBag.mgSection == "Lecturer")
                        {


                            <!-- Table  -->
                            <table class="table table-hover border-bottom">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4 border-top">
                                    <tr>
                                        <th class="text-center">ลำดับ</th>
                                        <th>ชื่อ/นามสกุล</th>
                                        <th class="text-center">วิทยฐานะ</th>
                                        @*<th class="text-center">สถานะ</th>
                                            <th class="text-center">Export</th>
                                            <th class="text-center">เครื่องมือ</th>*@
                                    </tr>
                                </thead>
                                <!-- Table head -->
                                <!-- Table body -->
                                <tbody>

                                    @if (Model != null)
                                    {
                                        @*var i = 1;
                                            foreach (var PA_Report_Model in Model)
                                            {

                                                <tr>
                                                    <td class="text-center" scope="row">@i</td>
                                                    <td>@PA_Report_Model.Form_Name</td>
                                                    <td class="text-center">@PA_Report_Model.Date_Time</td>
                                                    <td class="text-center">
                                                        <div id="status_" class="status @PA_Report_Model.status">
                                                            @PA_Report_Model.status
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="btn btn-success p-0 pt-1" onclick="location.href='@Url.Action(" PA_Export", "EvaluatePA")'" style="width:90px;height:25px;font-size:0.65rem;font-weight:normal;"><i class="fa fa-share w3-text-theme text-white"></i>&nbsp;Export PDF</div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="View_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-eye w3-text-theme"></i></div>
                                                        <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="Edit_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-pencil w3-text-theme"></i></div>
                                                        <div id="@PA_Report_Model.Form_Id" class="btn delete bg-light btn-sm pt-0" onclick="Delete_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-trash-o w3-text-theme"></i></div>
                                                    </td>
                                                </tr>

                                                i++;
                                            }*@
                                    }
                                    else
                                    { }


                                </tbody>
                                <!-- Table body -->
                            </table>
                            <!-- Table  -->



                        }
                        else if (ViewBag.mgSection == "Calendar")
                        {
                            <!--Grid column-->
                            <!--<div class="col-md-12 mb-12 p0">-->

                            <!--Card-->
                            <!--<div class="card border-0 p-0">-->

                            <!--Card content-->
                            <!--<div class="card-body border-0 p-0">-->

                            <!-- Table  -->
                            <!--<table class="table table-hover border-bottom">-->
                            <!-- Table head -->
                            <!--<thead class="blue-grey lighten-4 border-top">

                                <tr>
                                    <th><div class="text-center" style="width:80px;">คาบที่/เวลา</div></th>
                                    <th><div class="text-center day holiday">Sun</div></th>
                                    <th><div class="text-center day workday">Mon</div></th>
                                    <th><div class="text-center day workday">Tue</div></th>
                                    <th><div class="text-center day workday">Wed</div></th>
                                    <th><div class="text-center day workday">Thu</div></th>
                                    <th><div class="text-center day workday">Fri</div></th>
                                    <th><div class="text-center day holiday">Sat</div></th>
                                    <th><div class="text-center" style="width:80px;">หมายเหตุ</div></th>
                                </tr>
                            </thead>-->
                            <!-- Table head -->
                            <!-- Table body -->
                            <!--<tbody>


                                <tr>
                                    <td><div class="text-center" style="width:80px;">1</div></td>
                                    <td><div class="text-center day-info holiday"></div></td>
                                    <td><div class="text-center day-info workday"></div></td>
                                    <td><div class="text-center day-info workday"></div></td>
                                    <td><div class="text-center day-info workday"></div></td>
                                    <td><div class="text-center day-info workday"></div></td>
                                    <td><div class="text-center day-info workday"></div></td>
                                    <td><div class="text-center day-info holiday"></div></td>
                                    <td><div class="text-center" style="width:80px;">หมายเหตุ</div></td>
                                </tr>


                            </tbody>-->
                            <!-- Table body -->
                            <!--</table>-->
                            <!-- Table  -->

                            <!--</div>

                            </div>-->
                            <!--/.Card-->

                            <!--</div>-->
                            <!--Grid column-->
                            <div class="row pt-0">
                                <div class="col-12 p-0">
                                    <div class="card box-shadow p-0">
                                        <div class="card-body pt-0 pb-2">
                                            <div id="calendar" class="calendar">

                                                <div class="weekdays_ text-center">
                                                    <div class="weekdays">
                                                        <div class="text-center mr-1">คาบเรียน</div>
                                                        @{
                                                            string[] day_of_week = new String[] { "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
                                                            int day_ = ViewBag.Today;
                                                            for (int d_ = 0; d_ <= 6; d_++)
                                                            {
                                                                string class_ = "";
                                                                if (day_ == d_)
                                                                { class_ = "thisday"; }

                                                                <div class="text-center @class_">@day_of_week[d_]</div>
                                                            }
                                                        }

                                                        @*<div class="text-center">Sun</div>
                                                            <div class="text-center">Mon</div>
                                                            <div class="text-center">Tue</div>
                                                            <div class="text-center">Wed</div>
                                                            <div class="text-center">Thu</div>
                                                            <div class="text-center">Fri</div>
                                                            <div class="text-center">Sat</div>*@

                                                    </div>
                                                </div>
                                                @{
                                                    var totalPeriod = ViewBag.TotalPeriod;
                                                }
                                                @for (int i = 1; i <= totalPeriod; i++)
                                                {
                                                    var PTime_Begin = Convert.ToDateTime(ViewBag.StartDate + " " + ViewBag.StartTime).AddMinutes(ViewBag.PeriodTime * (i - 1)).ToString("HH:mm");
                                                    var PTime_End = Convert.ToDateTime(ViewBag.StartDate + " " + ViewBag.StartTime).AddMinutes(ViewBag.PeriodTime * i).ToString("HH:mm");
                                                    if (Model != null)
                                                    {
                                                        foreach (var item in Model)
                                                        {

                                                        }


                                                    }
                                                    <div class="days">
                                                        @for (var d = 0; d <= 7; d++)
                                                        {

                                                            if (d == 0)
                                                            {
                                                                <div class="dates_ prev-date mr-1 text-dark">
                                                                    <div class="dates_num pt-2">@PTime_Begin - @PTime_End</div>

                                                                </div>

                                                            }
                                                            else if (d == 1)
                                                            {
                                                                <div class="dates_ prev-date">
                                                                    <div class="dates_num"></div>

                                                                </div>

                                                            }
                                                            else if (d == 7)
                                                            {
                                                                <div class="dates_ next-date">
                                                                    <div class="dates_num"></div>

                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div id="@i@d" class="dates_" onclick="showModal_Calendar('คาบเรียนที่ : @i',this.id);">

                                                                    @{var txt1 = "";
                                                                        var txt2 = "";
                                                                        var cls = "";
                                                                        var found = 0;
                                                                        foreach (var item in Model)
                                                                        {
                                                                            string[] day_week = new String[] {"", "SU", "MO", "TU", "WE", "TH", "FR", "SA" };
                                                                            var date_ = Convert.ToDateTime(ViewBag.StartDate).AddDays(d - 1).ToString("yyyy-MM-dd");


                                                                            //if ((item.BDate.Substring(11, 5) == PTime_Begin && @item.BDate.Substring(0, 10) == date_) &&
                                                                            //                (item.RR_BYDAY.ToUpper() == day_week[d]))

                                                                            if ((item.BDate.Substring(11, 5) == PTime_Begin ) && (item.RR_BYDAY.ToUpper() == day_week[d]))
                                                                            {
                                                                                //txt1 = @item.Summary;
                                                                                //txt2 = @item.Location_Name;
                                                                                //cls = "event";
                                                                                found = 1;
                                                                                                                                        <div class="dates_num text-center event">
                                                                                                                                            <div id="EventID_@i@d" style="display:none">@item.Event_Id</div>
                                                                                                                                            <div id="Day_@i@d" style="display:none">@d</div>
                                                                                                                                            <div id="Period_@i@d" style="display:none">@i</div>
                                                                                                                                            <div id="PTime_Begin_@i@d" style="display:none">@PTime_Begin</div>
                                                                                                                                            <div id="PTime_End_@i@d" style="display:none">@PTime_End</div>
                                                                                                                                            <div id="Room_Id_@i@d" style="display:none">@item.Location_Id</div>
                                                                                                                                            <div id="RoomName_@i@d" style="display:none">@item.Location_Name</div>

                                                                                                                                            <div id="Subject_Id_@i@d" style="display:none">@item.Subject_Id</div>
                                                                                                                                            <div id="SubjectCode_@i@d">@item.Summary</div>
                                                                                                                                            <div id="SubjectName_@i@d">@item.Description</div>
                                                                                                                                            <div id="ClasstName_@i@d">@item.UnitName</div>
                                                                                                                                            <div id="Class_Id_@i@d" style="display:none">@item.Location_Id</div>
                                                                                                                                            <div id="SubSchool_Id_@i@d" style="display:none">@item.SubSchool_Id</div>
                                                                                                                                            <div id="School_Id_@i@d" style="display:none">@item.School_Id</div>
                                                                                                                                            <div id="Method_@i@d" style="display:none">EDIT</div>
                                                                                                                                        </div>
                                                                            }
                                                                        }
                                                                        if (found == 0)
                                                                        {
                                                                <div class="dates_num text-center">
                                                                    <div id="EventID_@i@d" style="display:none"></div>
                                                                    <div id="Day_@i@d" style="display:none">@d</div>
                                                                    <div id="Period_@i@d" style="display:none">@i</div>
                                                                    <div id="PTime_Begin_@i@d" style="display:none">@PTime_Begin</div>
                                                                    <div id="PTime_End_@i@d" style="display:none">@PTime_End</div>
                                                                    <div id="Room_Id_@i@d" style="display:none"></div>
                                                                    <div id="RoomName_@i@d" style="display:none"></div>

                                                                    <div id="Subject_Id_@i@d" style="display:none"></div>
                                                                    <div id="SubjectCode_@i@d"></div>
                                                                    <div id="SubjectName_@i@d"></div>
                                                                    <div id="ClasstName_@i@d"></div>
                                                                    <div id="SubSchool_Id_@i@d" style="display:none"></div>
                                                                    <div id="School_Id_@i@d" style="display:none"></div>
                                                                    <div id="Method_@i@d" style="display:none">NEW</div>
                                                                </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <!--Grid column-->
                            <div class="col-md-12 mb-12 p0">

                                <!--Card-->
                                <div class="card border-0 p-0">

                                    <!--Card content-->
                                    <div class="card-body border-0 p-0">

                                        <!-- Table  -->
                                        <table class="table table-hover border-bottom">
                                            <!-- Table head -->
                                            <thead class="blue-grey lighten-4 border-top">
                                                <tr>
                                                    <th class="text-center">ลำดับ</th>
                                                    <th>แบบฟอร์มพัฒนางาน</th>
                                                    <th class="text-center">Date/Time</th>
                                                    <th class="text-center">สถานะ</th>
                                                    <th class="text-center">Export</th>
                                                    <th class="text-center">เครื่องมือ</th>
                                                </tr>
                                            </thead>
                                            <!-- Table head -->
                                            <!-- Table body -->
                                            <tbody>

                                                @*@if (Model != null)
                                                    {
                                                        var i = 1;
                                                        foreach (var PA_Report_Model in Model)
                                                        {

                                                            <tr>
                                                                <td class="text-center" scope="row">@i</td>
                                                                <td>@PA_Report_Model.Form_Name</td>
                                                                <td class="text-center">@PA_Report_Model.Date_Time</td>
                                                                <td class="text-center">
                                                                    <div id="status_" class="status @PA_Report_Model.status">
                                                                        @PA_Report_Model.status
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <div class="btn btn-success p-0 pt-1" onclick="location.href='@Url.Action(" PA_Export", "EvaluatePA")'" style="width:90px;height:25px;font-size:0.65rem;font-weight:normal;"><i class="fa fa-share w3-text-theme text-white"></i>&nbsp;Export PDF</div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="View_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-eye w3-text-theme"></i></div>
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn edit bg-light btn-sm pt-0" onclick="Edit_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-pencil w3-text-theme"></i></div>
                                                                    <div id="@PA_Report_Model.Form_Id" class="btn delete bg-light btn-sm pt-0" onclick="Delete_PA('@PA_Report_Model.Form_Id', '@PA_Report_Model.Form_Name');" style="width:30px;height:25px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-trash-o w3-text-theme"></i></div>
                                                                </td>
                                                            </tr>

                                                            i++;
                                                        }
                                                    }
                                                    else
                                                    { }*@


                                            </tbody>
                                            <!-- Table body -->
                                        </table>
                                        <!-- Table  -->
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->
                        }
                    </div>
                    <!--Grid row-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" onclick="hideModal('myModal');">Close</button>*@
                <button type="button" class="btn btn-info btn-lg" onclick="hideModal('myModal');">X</button>
            </div>
        </div>
    </div>
</div>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div id="calendar-setup" class="loader-calendar-setup">
    <div class="row p-1">
        <div class="col-md-12">
            <div class="btn btn-success mt-3 pt-2" onclick="AJ_Calendar_Save();" style="width:350px;height:42px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-save w3-text-theme text-white"></i>&nbsp;บันทึก</div>
        </div>
    </div>
</div>
<div class="loader-wrapper2">
    @*<span class="loader">
            <span class="loader-inner" onclick="hideModal();"></span>
        </span>*@


    <div class="row p-5 justify-content-center">
        <div class="col-lg-4 col-md-8 flex-column text-center">
            <div class="form-outline" style="opacity:1.0;width:100%">
                <div class="card border shadow">
                    <div class="card-header bg-green-custom border-0 border-top p-2 pb-1 text-white">
                        <div class="form-inline justify-content-between pt-1">
                            <div>
                                <h5>ตารางเรียน</h5>
                            </div>
                            <span class="pointer-event" onclick="hideModal_fast();">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-3 pt-1">
                        <form id="PA_Form" class="flex-column">
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color:#099882;width:95px;border-radius:10px 0px 0px 10px;">
                                    <label class="form-label" for="Day_">วัน :</label>
                                </div>
                                <input type="text" id="Day_thai" name="Day_" class="form-control form-control-lg font-14" style="width:195px" value="" />
                                <input type="text" id="Day_" hidden name="Day_" class="form-control form-control-lg font-14" style="width:195px" value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color: #099882; width: 95px; border-radius: 10px 0px 0px 10px;">
                                    <label class="form-label" for="Period">คาบเรียน :</label>
                                </div>
                                <input type="text" id="Period" name="Period" class="form-control form-control-lg font-14" style="width: 195px" value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color: #099882; width: 95px; border-radius: 10px 0px 0px 10px;">
                                    <label class="form-label" for="Lecturer">ครูผู้สอน :</label>
                                </div>
                                <input type="text" id="Lecturer" name="Lecturer" class="form-control form-control-lg font-14" style="width: 195px" value="@ViewBag.Fullname" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color:#099882;width:95px;border-radius:10px 0px 0px 10px;">
                                    <label class="form-label" for="SubjectCode">รหัสรายวิชา :</label>
                                </div>
                                <input type="text" id="SubjectCode" name="SubjectCode" autocomplete="off" class="form-control form-control-lg font-14" style="width:195px" value="" />
                                <input type="text" id="School_Id_" name="School_Id_" hidden class="form-control form-control-lg font-14" style="width:195px" value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color: #099882; width: 95px; border-radius: 10px 0px 0px 10px;">
                                    <label class="form-label" for="SubjectName">ชื่อรายวิชา :</label>
                                </div>
                                <input type="text" id="SubjectName" name="SubjectName" class="form-control form-control-lg font-14" style="width: 195px" disabled value="" />
                                <input type="text" id="SubjectId" name="SubjectId" hidden class="form-control form-control-lg font-14" style="width: 195px" disabled value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color: #099882; width: 95px; border-radius: 10px 0px 0px 10px;">
                                    <label class="form-label" for="Room">ห้องเรียน :</label>
                                </div>
                                <input type="text" id="Room" name="Room" autocomplete="off" class="form-control form-control-lg font-14" style="width: 195px" value="" />
                                <input type="text" id="Room_id" name="Room_id" hidden class="form-control form-control-lg font-14" style="width: 195px" value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                            </div>
                            <div class="d-inline-flex floating-label-group m-0">
                                <div class="border p-0 pt-1 pl-2 text-white text-left" style="background-color: #099882; width: 95px; border-radius: 10px 0px 0px 10px;">
                                    <label class="form-label" for="Class">ชั้นเรียน :</label>
                                </div>
                                <input type="text" id="Class" name="Class" autocomplete="off" class="form-control form-control-lg font-14" style="width: 195px" value="" />
                                <input type="text" id="Class_id" hidden name="Class_id" class="form-control form-control-lg font-14" style="width: 195px" value="" />
                                <label class="chevron-label"><span class="chevron right"></span></label>
                                <input type="hidden" id="blockNum" name="blockNum" value="" />
                            </div>
                            <div class="btn btn-success mt-3 pt-2" onclick="AJ_Calendar_Save();" style="width:290px;height:42px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-save w3-text-theme text-white"></i>&nbsp;บันทึก</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        $(window).on("load", function () {
            setTimeout(fad_out, 500);
        });

        function fad_out() {
            $(".loader-wrapper").fadeOut("slow");

        }
        function hideModal() {
            $(".loader-wrapper2").fadeOut("slow");
        }
        function hideModal_fast() {
            $(".loader-wrapper2").fadeOut("fast");
        }
        function showModal() {
            $(".loader-wrapper").fadeIn("slow");
            $(".loader-wrapper").fadeOut("slow");
        }
        function showModal_Calendar(period_, this_id) {
            // $('.formName').val("");
            //$('.Level').val("");
            //showModal();
            
            //alert(this_id);
            
            const dayText = ["", "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            const dayText_thai = ["", "วันอาทิตย์", "วันจันทร์", "วันอังคาร", "วันพุธ", "วันพฤหัส", "วันศุกร์", "วันเสาร์"];
            var id = "#SubjectCode_" + this_id;
            var subjectCode = ($("#SubjectCode_" + this_id).html());
            var subjectName = ($("#SubjectName_" + this_id).html());
            var className = ($("#ClasstName_" + this_id).html());
            var Day_ = ($("#Day_" + this_id).html());
            
            var this_dayText = dayText[Number(Day_)];
            var this_dayText_thai = dayText_thai[Number(Day_)];
            //alert(this_dayText);
            //alert(Day_);
            var RoomName = ($("#RoomName_" + this_id).html());
            //alert(RoomName);
            var RoomId = ($("#Room_Id_" + this_id).html());
            var ClassId = ($("#Class_Id_" + this_id).html());
            //alert(Day_);
            document.getElementById("PA_Form").reset();
            $("#Day_thai").val(this_dayText_thai);
            $("#Day_").val(this_dayText);
            $("#Period").val(period_);
            $("#SubjectCode").val(subjectCode);
            $("#SubjectName").val(subjectName);
            $("#Room").val(RoomName);
            $("#Room_id").val(RoomId);
            $("#Class").val(className);
            $("#Class_id").val(ClassId);
            $("#blockNum").val(this_id);
            //$(".loader-wrapper2").css('display', 'flex');
            $(".loader-wrapper2").fadeIn(500);

            //$(".loader-wrapper2").css('display', 'flex');
            //$(".loader-wrapper2").fadeIn(2000);
            ////$(".loader-wrapper").fadeOut("slow");
        }

    </script>
    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-EvaluatePA').addClass('active_');
        $('.a-EvaluatePA').removeClass('text-dark');
    </script>
    <script>

                function AJ_Calendar_Save_() {

                    alert("Update");
        }

        function AJ_Calendar_Prev() {
            var uid = '@Context.Session.GetString("userId")';
            var date_ = '@Html.Raw(ViewBag.StartDate)';
           // var date_arr[] = date_.split('-');
           // var var_ = date_arr[1] + ' ' + date_arr[0] + ', ' + date_arr[2];
           // alert(var_);
            var date__ = new Date(date_);// Date.parse(var_);
            var date___ = new Date(date__.setDate(date__.getDate() - 7));
            var dd = date___.getDate().toString().padStart(2, '0');
            var MM = (Number(date___.getMonth()) + 1).toString().padStart(2, '0');
            var YYYY = date___.getFullYear().toString();

            var targetDate = YYYY + '-' + MM + '-' + dd + ' 00:00:00.000';
            //alert(targetDate);

            var param = "user_id=" + uid + "&dateTime=" + targetDate
                + "&mode=" + 'week';
            //alert(param);
            window.location.assign("/EvaluatePA/Calendar?" + param);
            //$.ajax({

            //    type: 'GET',
            //    url: '/EvaluatePA/Calendar?' + param,
            //    success: function (result) {
            //        alert("");
            //        //hideModal('myModal');
            //        //window.location.assign("/EvaluatePA/Calendar?user_Id=" + user_Id);

            //    }
            //});

            


        }
        function AJ_Calendar_Next() {
            var uid = '@Context.Session.GetString("userId")';
            var date_ = '@Html.Raw(ViewBag.StartDate)';
           // var date_arr[] = date_.split('-');
           // var var_ = date_arr[1] + ' ' + date_arr[0] + ', ' + date_arr[2];
           // alert(var_);
            var date__ = new Date(date_);// Date.parse(var_);
            var date___ = new Date(date__.setDate(date__.getDate() + 7));
            var dd = date___.getDate().toString().padStart(2, '0');
            var MM = (Number(date___.getMonth()) + 1).toString().padStart(2, '0');
            var YYYY = date___.getFullYear().toString();

            var targetDate = YYYY + '-' + MM + '-' + dd + ' 00:00:00.000';
            //alert(targetDate);

            var param = "user_id=" + uid + "&dateTime=" + targetDate
                + "&mode=" + 'week';
            //alert(param);
            window.location.assign("/EvaluatePA/Calendar?" + param);
            //$.ajax({

            //    type: 'GET',
            //    url: '/EvaluatePA/Calendar?' + param,
            //    success: function (result) {
            //        //hideModal('myModal');
            //        //window.location.assign("/EvaluatePA/Calendar?user_Id=" + user_Id);

            //    }
            //});


        }
        function AJ_Calendar_Save() {
                    //showModal();

                    let this_id_ = $('#blockNum').val();
                    let eid = $("#EventID_" + this_id_).html();
                    //alert(eid);

                    let Summary = $('#SubjectCode').val();
                    let SubjectName = $("#SubjectName").val();
                    var PTime_Begin = $("#PTime_Begin_" + this_id_).html();
                    var PTime_End = $("#PTime_End_" + this_id_).html();

                    let uid = '@Context.Session.GetString("userId")';
                    //alert(uid);
                    var Location_Id = $("#Room_id").val();//$("#Room_Id_" + this_id_).html();
                    //alert(Location_Id);
                    //var Subject_Id = $("#Subject_Id_" + this_id_).html();
                    var Subject_Id = $("#SubjectId").val();
                    //alert(Subject_Id);
                    var SubSchool_Id = $("#SubSchool_Id_" + this_id_).html();
                    //alert(SubSchool_Id);

                    //$("#School_Id_" + this_id_).html();
                    var School_Id = $('#School_Id_').val();
                    //alert(School_Id);

                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    var BDate = today + ' ' + PTime_Begin.replace('.', ':') + ':00';
                    var EDate = today + ' ' + PTime_End.replace('.', ':') + ':00';

                    //alert(PTime_Begin);
                    //alert(PTime_End);
                    let StartDate = '@ViewBag.StartDate';
                    let StartTime = '@ViewBag.StartTime';
                    var targetDate = (StartDate + " " + StartTime);
                    //alert("Update");

                    let Day_ = $("#Day_").val();
                    let Period = $("#Period").val();
                    let Room = $("#Room").val();
                    let Class = $("#Class").val();
                    let Class_id = $("#Class_id").val();
                    //alert(Summary);
                    //alert(Day_);
                    //alert(Period);
                    //alert(SubjectName);
                    //alert(Room);
                    //alert(Class);
                    //return false;
                    //[Summary],[Description],[BDate],[EDate],[Location_Id],[RRULE],[RR_FREQ],[RR_UNTIL],[RR_INTERVAL]
                    //, [RR_COUNT], [RR_BYDAY], [RR_BYWEEKNO], [RR_BYMONTH], [RR_BYMONTHDAY], [RR_BYYEARDAY], [RR_BYSETPOS]
                    //, [RR_WKST], [User_Id], [Subject_Id], [SubSchool_Id], [School_Id], [CDate], [OpenDate], [CloseDate]
                    //, [DDate], [Parent_Event_Id], [Event_Status], [Event_Type], [Event_SubType], [Unit_Id], [UnitName]

                    var param = "Summary=" + Summary + "&Description=" + SubjectName
                        + "&BDate=" + BDate + "&EDate=" + EDate
                        + "&Location_Id=" + Location_Id + "&Event_Id=" + eid
                        + "&User_Id=" + uid + "&Subject_Id=" + Subject_Id
                        + "&SubSchool_Id=" + SubSchool_Id + "&School_Id=" + School_Id + "&Unit_Id=" + Class_id + "&UnitName=" + Class
                        + "&RR_FREQ=" + "WEEKLY" + "&RR_BYDAY=" + Day_.substring(0, 2).toUpperCase();
                    alert(param);

                    var param2 = "user_id=" + uid + "&dateTime=" + targetDate
                        + "&mode=" + 'week';

                        //+ "BDate=" + BDate + "&EDate=" + EDate
                        //+ "BDate=" + BDate + "&EDate=" + EDate

                    //    + "&LastName=" + LastName + "&position=" + position + "&school_id=" + school + "&CDate=" + CDate
                    //    + "&memberOf=" + memberOf + "&salaryLevel=" + salaryLevel
                    //    + "&salaryRate=" + salaryRate + "&classroomType=" + classroomType + "&user_Id=" + user_Id
                    //    + "&submit=yes";
                    ////alert(param);

                    $.ajax({

                        type: 'GET',
                        url: '/EvaluatePA/UpdateEvent_AJ?' + param,
                        success: function (result) {
                            //alert("");
                            hideModal('myModal');
                            //window.location.assign("/EvaluatePA/Calendar?" + param);
                            window.location.assign("/EvaluatePA/Calendar?" + param2);

                       }
                    });
                }




    </script>
    <script>
        function autocompleteV2(inp, sbj_arr) {
            //alert(sbj_arr[0].value);
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            inp.addEventListener("click", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                //if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    //alert(sbj_arr.length);
                    if (true == true) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][3].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][3].substr(val.length);
                        var ext = sbj_arr[i][1];
                        if (sbj_arr[i][1].length > 30) {
                            ext = sbj_arr[i][1].substr(0, 30) + " ... ";
                        }

                        b.innerHTML += " : <small>" + ext + "</small>";

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            //alert(inp.value);
                            inp.value = this.getElementsByTagName("input")[3].value;
                            //alert(document.getElementById("SubjectName").value);
                            //alert(this.getElementsByTagName("input")[4].value);
                            document.getElementById("SubjectId").value = this.getElementsByTagName("input")[0].value;
                            document.getElementById("SubjectName").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("School_Id_").value = this.getElementsByTagName("input")[4].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            //document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            //document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            //document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            //document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            //document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (sbj_arr[i][3].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][3].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][3].substr(val.length);
                        b.innerHTML += " : " + sbj_arr[i][1];
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Serial_Num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[3].value;
                            //alert("");
                            document.getElementById("SubjectId").value = this.getElementsByTagName("input")[0].value;
                            document.getElementById("SubjectName").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("School_Id_").value = this.getElementsByTagName("input")[4].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            ////document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            ////document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            ////document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            ////document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            ////document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        function autocompleteV2_Class(inp, sbj_arr) {
            //alert(sbj_arr[0].value);
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            inp.addEventListener("click", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                //if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-class-list");
                a.setAttribute("class", "autocomplete-class-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    //alert(sbj_arr.length);
                    if (true == true) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][1].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][1].substr(val.length);
                        var ext = sbj_arr[i][1];
                        if (sbj_arr[i][1].length > 30) {
                            ext = sbj_arr[i][1].substr(0, 30) + " ... ";
                        }

                        //b.innerHTML += " : <small>" + ext + "</small>";

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            //alert(inp.value);
                            inp.value = this.getElementsByTagName("input")[1].value;
                            //alert(document.getElementById("SubjectName").value);
                            //alert(this.getElementsByTagName("input")[4].value);
                            //document.getElementById("Class").value = this.getElementsByTagName("input")[0].value;
                            //document.getElementById("Class").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("Class_id").value = this.getElementsByTagName("input")[3].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            //document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            //document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            //document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            //document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            //document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-class-list");
                a.setAttribute("class", "autocomplete-class-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (sbj_arr[i][3].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][1].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][1].substr(val.length);
                        //b.innerHTML += " : " + sbj_arr[i][1];
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Serial_Num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[1].value;
                            //alert("");
                            //document.getElementById("SubjectId").value = this.getElementsByTagName("input")[0].value;
                            //document.getElementById("SubjectName").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("Class_id").value = this.getElementsByTagName("input")[3].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            ////document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            ////document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            ////document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            ////document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            ////document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-class-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-class-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-class-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-class-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        function autocompleteV2_Room(inp, sbj_arr) {
            //alert(sbj_arr[0].value);
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            inp.addEventListener("click", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                //if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-room-list");
                a.setAttribute("class", "autocomplete-room-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    //alert(sbj_arr.length);
                    if (true == true) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][1].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][1].substr(val.length);
                        var ext = sbj_arr[i][1];
                        if (sbj_arr[i][1].length > 30) {
                            ext = sbj_arr[i][1].substr(0, 30) + " ... ";
                        }

                        //b.innerHTML += " : <small>" + ext + "</small>";

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            //alert(inp.value);
                            inp.value = this.getElementsByTagName("input")[1].value;
                            //alert(document.getElementById("SubjectName").value);
                            //alert(this.getElementsByTagName("input")[4].value);
                            //document.getElementById("Class").value = this.getElementsByTagName("input")[0].value;
                            //document.getElementById("Class").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("Room_id").value = this.getElementsByTagName("input")[0].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            //document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            //document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            //document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            //document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            //document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-room-list");
                a.setAttribute("class", "autocomplete-room-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < sbj_arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (sbj_arr[i][3].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + sbj_arr[i][1].substr(0, val.length) + "</strong>";
                        b.innerHTML += sbj_arr[i][1].substr(val.length);
                        //b.innerHTML += " : " + sbj_arr[i][1];
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][0] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][1] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][2] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][3] + "'>";
                        b.innerHTML += "<input type='hidden' value='" + sbj_arr[i][4] + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Serial_Num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].Mobile_num + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_HH + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_H + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_L + "'>";
                        ////b.innerHTML += "<input type='hidden' value='" + sensor_arr[i].P_Setting_LL + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[1].value;
                            //alert("");
                            //document.getElementById("SubjectId").value = this.getElementsByTagName("input")[0].value;
                            //document.getElementById("SubjectName").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("Room_id").value = this.getElementsByTagName("input")[0].value;
                            //alert(this.getElementsByTagName("input")[1].value);
                            ////document.getElementById("Factory_MobileNum").value = this.getElementsByTagName("input")[1].value;
                            ////document.getElementById("Factory_HH").value = this.getElementsByTagName("input")[2].value;
                            ////document.getElementById("Factory_H").value = this.getElementsByTagName("input")[3].value;
                            ////document.getElementById("Factory_L").value = this.getElementsByTagName("input")[4].value;
                            ////document.getElementById("Factory_LL").value = this.getElementsByTagName("input")[5].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-room-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-room-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-room-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-room-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }


        //alert("");
        //var School_arr = [[ "300001", "โรงเรียนน้ำยืนวิทยา", "อุบลราชธานี" ]];
        var School_arr = @Html.Raw(ViewBag.School);
        //alert(School_arr[0][0]);
    var Subject_arr = @Html.Raw(ViewBag.Subject);
    var Location_arr =  @Html.Raw(ViewBag.Location);
        var Class_arr =  @Html.Raw(ViewBag.Class);
        var Room_arr =  @Html.Raw(ViewBag.Location);
        autocompleteV2(document.getElementById("SubjectCode"), Subject_arr);
        autocompleteV2_Class(document.getElementById("Class"), Class_arr);
        autocompleteV2_Room(document.getElementById("Room"), Room_arr);

        //alert("");
    </script>


}
