
@{
    ViewData["Title"] = "PA";
    Layout = "_Layout_NoMenu2";
}

@section Style_{
    <style>
        * {
            box-sizing: border-box;
        }

        .active {
            border: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

        .border-bottom-2 {
            border-bottom: 2px solid #0d140d;
        }

        .subform {
            border: 0px;
            border-bottom: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

            .subform .active {
                border: 1px solid #a9a7a7;
                border-bottom: 0px;
                border-radius: 7px 7px 0px 0px;
            }

        input {
            font: 5rem;
        }

        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }

            .close:hover {
                opacity: 1;
            }

            .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
            }

            .close:before {
                transform: rotate(45deg);
            }

            .close:after {
                transform: rotate(-45deg);
            }

        #mdiv {
            width: 18px;
            height: 18px;
            /*            background-color: red;*/
            border: 0px solid black;
        }

        .mdiv {
            height: 18px;
            width: 3px;
            margin-left: 7px;
            background-color: red;
            transform: rotate(45deg);
            Z-index: 1;
        }

        .md {
            height: 18px;
            width: 3px;
            background-color: red;
            transform: rotate(90deg);
            Z-index: 2;
        }

        textarea {
            font-size: 8px;
        }
    </style>
}
<div class="container">
    <div class="col-lg-12 col-xl-12 mt-2">
        <div class="card border-0">
            <div class="card-header bg-white border-0 border-top p-0 pl-1 pr-1">
                <div class="border-bottom-2 pt-1">
                    <form class="form-inline" asp-route="">
                        <div id="page_1" class="mt-2 p-0 pl-4 pr-4 active" onclick='showpage_1();fadout();'>
                            <p class="m-0 mt-1 mb-1">แบบฟอร์มพัฒนางาน (PA)</p>
                        </div>
                        <div id="page_2" class="mt-2 p-0 pl-4 pr-4" onclick='showpage_2();fadout();'>
                            <p class="m-0 mt-1 mb-1">ข้อตกลงการพัฒนา</p>
                        </div>
                        <div id="page_3" class="mt-2 p-0 pl-4 pr-4" onclick='showpage_3();fadout();'>
                            <p class="m-0 mt-1 mb-1">ประเด็นท้าทายในการพัฒนา</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body border-0 p-1">

                <div id="page_1_form" style="display:block;">
                    <div class="card-body border-light shadow">
                        <form name="page_1_" asp-action="PA_1" asp-controller="EvaluatePA" style="border-style: none; border-color: #BEDDFE; width: auto;">
                            <div class="row p-5 pt-1">

                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">คำนำหน้า : </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="mr"
                                               value="option1"
                                               checked />
                                        <label class="form-check-label" for="femaleGender">นาย</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="mrs"
                                               value="option2" />
                                        <label class="form-check-label" for="maleGender">นาง</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="miss"
                                               value="option3" />
                                        <label class="form-check-label" for="otherGender">นางสาว</label>
                                    </div>

                                </div>

                                <div class="row pl-3 d-inline-flex">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="UserInfo_UserName">ชื่อ</label>
                                            <input type="text" id="UserInfo_UserName" name="UserInfo_UserName" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="UserInfo_LastName">นามสกุล</label>
                                            <input type="text" id="UserInfo_LastName" name="UserInfo_LastName" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_UserPosition">ตำแหน่งวิทยฐานะ</label>
                                        <input type="text" id="UserInfo_UserPosition" name="UserInfo_UserPosition" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_CDate">วันที่ได้รับวิทยฐานะ</label>
                                        <input type="text" id="UserInfo_CDate" name="UserInfo_CDate" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_School">สถานศึกษา</label>
                                        <input type="text" id="UserInfo_School" name="UserInfo_School" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_memberOf">สังกัด</label>
                                        <input type="text" id="UserInfo_memberOf" name="UserInfo_memberOf" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_salaryLevel">รับเงินเดือนในอันดับ คศ.</label>
                                        <input type="text" id="UserInfo_salaryLevel" name="UserInfo_salaryLevel" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_salaryRate">อัตราเงินเดือน</label>
                                        <input type="text" id="UserInfo_salaryRate" name="UserInfo_salaryRate" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserInfo_classroomType">ประเภทห้องเรียนที่จัดการเรียนรู้</label>
                                        <label class="form-label" for="">(สามารถระบุได้มากกว่า 1 ประเภทห้องเรียนตามสภาพการจัดการเรียนรู้จริง)</label>
                                        <input type="text" id="UserInfo_classroomType" name="UserInfo_classroomType" class="form-control form-control-lg" style="font-size:18px;height:35px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="">ข้าพเจ้าขอแสดงเจตจำนงค์ทำข้อตกลงในการพัฒนางานตำแหน่งครู วิทยฐานะครูเชี่ยวชาญ ซึ่งเป็นตำแหน่งและวิทยฐานะที่ดำรงอยู่ในปัจจุบันกับ</label>
                                        <label class="form-label" for="">ผู้อำนวยการสถานศึกษา ไว้ดังนี้</label>
                                    </div>

                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                    <div>
                                        <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                        <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                    </div>
                                </div>


                            </div>
                        </form>

                    </div>
                </div>
                <div id="page_2_form" style="display:none;">
                    <div class="card border-light shadow">
                        <div class="card-header bg-white sh p-0 pl-1 pr-1">
                            <div class="pl-5 pr-5">
                                <form class="form-inline subform" asp-route="">
                                    <div id="subpage_1" class="mt-2 p-0 pl-4 pr-4 active" onclick='fadin();showsubpage_1();fadout();'>
                                        <p class="m-0 mt-1 mb-1">ภาระงาน</p>
                                    </div>
                                    <div id="subpage_2" class="mt-2 p-0 pl-4 pr-4" onclick='fadin();showsubpage_2();fadout();'>
                                        <p class="m-0 mt-1 mb-1">ด้านจัดการเรียนรู้</p>
                                    </div>
                                    <div id="subpage_3" class="mt-2 p-0 pl-4 pr-4" onclick='fadin();showsubpage_3();fadout();'>
                                        <p class="m-0 mt-1 mb-1">ด้านการส่งเสริมและสนับสนุน</p>
                                    </div>
                                    <div id="subpage_4" class="mt-2 p-0 pl-4 pr-4" onclick='fadin();showsubpage_4();fadout();'>
                                        <p class="m-0 mt-1 mb-1">ด้านการพัฒนาตนเองและวิชาชีพ</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body border-0 p-5">
                            <div id="page_1_subform" style="display:block;">
                                <div class="card-body" style="padding:10px;">
                                    <p>จะมีภาระงานเป็นไปตามที่ กคศ. กำหนด</p>

                                    <div class="col-md-12 mb-4">

                                        <div class="form-inline">
                                            <label class="form-label" for="Total_Hour_Schedule_str">1.1 ชั่วโมงสอนตามตารางสอน รวมจำนวน </label>
                                            <input type="text" id="Total_Hour_Schedule_str" name="Total_Hour_Schedule_str" class="form-control form-control-lg ml-5 mr-5" style="font-size:16px;height:35px;" />
                                            <label class="form-label" for="">ชั่วโมง/สัปดาห์ดังนี้ </label>
                                            <table class="table table-hover border shadow m-2">

                                                <!-- Table body -->
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div id="mdiv">
                                                                <div class="mdiv">
                                                                    <div class="md"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="padding:0;font-size:16px;">
                                                            <div class="d-inline-flex pt-1 pb-1">
                                                                <span class="pt-1">กลุ่มสาระการเรียนรู้/รายวิชา</span>
                                                                <input type="text" id="subject" name="subject" class="form-control form-control-lg ml-3 mr-3" style="font-size:16px;height:35px;" />
                                                                <span class="pt-1">จำนวน</span>
                                                                <input type="text" id="Hours" name="Hours" class="form-control form-control-lg ml-3 mr-3" style="font-size:16px;height:35px;width:100px" />
                                                                <span class="pt-1">ชั่วโมง/สัปดาห์</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div id="mdiv">
                                                                <div class="mdiv">
                                                                    <div class="md"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="padding:0;font-size:16px;">
                                                            <div class="d-inline-flex pt-1 pb-1">
                                                                <span class="pt-1">กลุ่มสาระการเรียนรู้/รายวิชา</span>
                                                                <input type="text" id="subject" name="subject" class="form-control form-control-lg ml-3 mr-3" style="font-size:16px;height:35px;" />
                                                                <span class="pt-1">จำนวน</span>
                                                                <input type="text" id="Hours" name="Hours" class="form-control form-control-lg ml-3 mr-3" style="font-size:16px;height:35px;width:100px" />
                                                                <span class="pt-1">ชั่วโมง/สัปดาห์</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="height:44px;">
                                                        <td style="padding:7px 0px 7px 14px; font-size:18px;"><i class="fa fa-plus w3-text-theme text-success"></i></td>
                                                        <td style="padding:0;font-size:16px;">
                                                            <div class="d-inline-flex pt-1 pb-1">

                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <!-- Table body -->
                                            </table>



                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-inline">
                                            <label class="form-label" for="Total_Hour_Learning_Promotion_Support_str">1.2 งานส่งเสริมและสนับสนุนการเรียนรู้ จำนวน </label>
                                            <input type="text" id="Total_Hour_Learning_Promotion_Support_str" name="Total_Hour_Learning_Promotion_Support_str" class="form-control form-control-lg ml-5 mr-5" style="font-size:16px;height:35px;" />
                                            <label class="form-label" for="">ชั่วโมง/สัปดาห์ </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-inline">
                                            <label class="form-label" for="Total_Hour_Q_Education_Mng_Dev_str">1.3 งานพัฒนาคุณภาพการจัดการการศึกษา จำนวน </label>
                                            <input type="text" id="Total_Hour_Q_Education_Mng_Devstr" name="Total_Hour_Q_Education_Mng_Dev_str" class="form-control form-control-lg ml-5 mr-5" style="font-size:16px;height:35px;" />
                                            <label class="form-label" for="">ชั่วโมง/สัปดาห์ </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-inline">
                                            <label class="form-label" for="Total_Hour_Policy_Focus_Sup_str">1.4 งานตอบสนองนโยบายและจุดเน้น จำนวน </label>
                                            <input type="text" id="Total_Hour_Policy_Focus_Sup_str" name="Total_Hour_Policy_Focus_Sup_str" class="form-control form-control-lg ml-5 mr-5" style="font-size:16px;height:35px;" />
                                            <label class="form-label" for="">ชั่วโมง/สัปดาห์ </label>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                        <div>
                                            <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                            <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div id="page_2_subform" style="display:none;">
                                <div class="card-body" style="padding:10px;">
                                    <p>ลักษณะงานที่เสนอให้ครอบคลุมถึงการสร้างและ/หรือพัฒนาหลักสูตร</p>

                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="LM_Task">งาน (Task) (โปรดระบุ)</label>
                                            <textarea id="LM_Task" name="LM_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="LM_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                            <textarea id="LM_Outcomes" name="LM_Outcomes" class="form-control form-control-lg" style="font-size:16px;" style="font-size:16px;"> </textarea>

                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="LM_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                            <textarea id="LM_Indicators" name="LM_Indicators" class="form-control form-control-lg" style="font-size:16px;" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                        <div>
                                            <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                            <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="page_3_subform" style="display:none;">
                                <div class="card-body" style="padding:10px;">
                                    <p>ลักษณะงานที่เสนอให้ครอบคลุมถึงการจัดทำข้อมูลสารสนเทศ</p>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="PS_Task">งาน (Task) (โปรดระบุ)</label>
                                            <textarea id="PS_Task" name="PS_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="PS_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                            <textarea id="PS_Outcomes" name="PS_Outcomes" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="PS_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                            <textarea id="PS_Indicators" name="PS_Indicators" class="form-control form-control-lg" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                        <div>
                                            <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                            <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="page_4_subform" style="display:none;">
                                <div class="card-body" style="padding:10px;height:640px">
                                    <p>ลักษณะงานที่เสนอให้ครอบคลุมถึงการพัฒนาตนเองอย่างเป็นระบบและต่อเนื่อง</p>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="SP_Dev_Task">งาน (Task) (โปรดระบุ)</label>
                                            <textarea id="SP_Dev_Task" name="SP_Dev_Task" class="form-control form-control-lg" placeholder="งาน" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="SP_Dev_Dev_Outcomes">ผลลัพธ์ (Outcomes) (โปรดระบุ)</label>
                                            <textarea id="SP_Dev_Dev_Outcomes" name="SP_Dev_Dev_Outcomes" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="SP_Dev_Dev_Indicators">ตัวชี้วัด (Indicators) (โปรดระบุ)</label>
                                            <textarea id="SP_Dev_Dev_Indicators" name="SP_Dev_Dev_Indicators" class="form-control form-control-lg" style="font-size:16px;"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                        <div>
                                            <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                            <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page_3_form" style="display:none;">
                    <div class="card-body border-light shadow" style="padding:10px;">
                        <form name="page_1_" asp-action="PA_1" asp-controller="EvaluatePA" style="border-style: none; border-color: #BEDDFE; width: auto;">
                            <div class="row p-5 pt-1">
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="CL_Point">ประเด็นที่ท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียนของผู้จัดทำข้อตกลง ซึ่งปัจจุบันดำรงตำแหน่งครู วิทยฐานะครูชำนาญพิเศษ ต้องแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังของวิทยฐานะเชี่ยวชาญ คือ การคิดค้น และการปรับเปลี่ยน ให้คุณภาพการเรียนรู้ของผู้เรียนสูงขึ้น เป็นแบบอย่างที่ดีและให้คำปรึกษาผู้อื่น (ทั้งนี้ ประเด็นท้าทายอาจจะแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังในวิทยฐานะที่สูงกว่าได้)</label>
                                        <input type="text" id="CL_Point" name="CL_Point" class="form-control form-control-lg" style="font-size:16px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="CL_Point_Text">ประเด็นท้าทาย เรื่อง</label>
                                        <input type="text" id="CL_Point_Text" name="CL_Point_Text" class="form-control form-control-lg" style="font-size:16px;" />

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="Problem_State">1.สภาพปัญหาการจัดการเรียนรู้ และคุณภาพการเรียนรู้ของผู้เรียน</label>
                                        <textarea id="Problem_State" name="Problem_State" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="Method_To_Acheivment">2.วิธีการดำเนินการให้บรรลุผล</label>
                                        <textarea id="Method_To_Acheivment" name="Method_To_Acheivment" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="QT_Expect_Result">3. ผลลัพธ์การพัฒนาที่คาดหวัง 3.1 เชิงปริมาณ</label>
                                        <textarea id="QT_Expect_Result" name="QT_Expect_Result" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                    </div>

                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="QL_Expect_Result">3.2 เชิงคุณภาพ</label>
                                        <textarea id="QL_Expect_Result" name="QL_Expect_Result" class="form-control form-control-lg" style="font-size:16px;"> </textarea>

                                    </div>

                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12 pt-0">
                                    <div>
                                        <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                                        <div class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Factory_Main", "Factory")'" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>




@section Scripts {
    <script>
        $(window).on("load", function () {
            setTimeout(fadout, 500);
        });
        function fadin() {
            $(".loader-wrapper").fadeIn(5);
        }
        function fadout() {
            $(".loader-wrapper").fadeOut(500);
        }
        function animate() {
            alert("");
            fadin();
            fadout();
        }
    </script>

    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-EvaluatePA').addClass('active_');
        $('.a-EvaluatePA').removeClass('text-dark');
    </script>
    <script>
        var tx = document.getElementsByTagName('textarea');
        for (var i = 0; i < tx.length; i++) {
            tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput(e) {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';

    </script>


    <script>
        var btn_p1 = document.getElementById("page_1");
        var btn_p2 = document.getElementById("page_2");
        var btn_p3 = document.getElementById("page_3");
        var p1 = document.getElementById("page_1_form");
        var p2 = document.getElementById("page_2_form");
        var p3 = document.getElementById("page_3_form");

        var btn_sub_p1 = document.getElementById("subpage_1");
        var btn_sub_p2 = document.getElementById("subpage_2");
        var btn_sub_p3 = document.getElementById("subpage_3");
        var btn_sub_p4 = document.getElementById("subpage_4");
        var sub_p1 = document.getElementById("page_1_subform");
        var sub_p2 = document.getElementById("page_2_subform");
        var sub_p3 = document.getElementById("page_3_subform");
        var sub_p4 = document.getElementById("page_4_subform");


        function showpage_1() {
            //alert("test");

            btn_p1.classList.add("active");
            btn_p2.classList.remove("active");
            btn_p3.classList.remove("active");
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");

            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            p1.style.display = "block";
            p2.style.display = "none";
            p3.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }
        function showpage_2() {

            btn_p1.classList.remove("active");
            btn_p2.classList.add("active");
            btn_p3.classList.remove("active");
            p1.style.display = "none";
            p2.style.display = "block";
            p3.style.display = "none";
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");
            //var x = document.getElementById("section");
            //var y = document.getElementById("chart_");
            //var y_wl = document.getElementById("chart_WaterLevel");
            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            //y.style.display = "block";
            //y_wl.style.display = "none";
            //y_wf.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }
        function showpage_3() {

            btn_p1.classList.remove("active");
            btn_p2.classList.remove("active");
            btn_p3.classList.add("active");
            p1.style.display = "none";
            p2.style.display = "none";
            p3.style.display = "block";
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");
            //var x = document.getElementById("section");
            //var y = document.getElementById("chart_");
            //var y_wl = document.getElementById("chart_WaterLevel");
            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            //y.style.display = "block";
            //y_wl.style.display = "none";
            //y_wf.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }

        function showsubpage_1() {

            btn_sub_p1.classList.add("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "block";
            sub_p2.style.display = "none";
            sub_p3.style.display = "none";
            sub_p4.style.display = "none";


        }
        function showsubpage_2() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.add("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "block";
            sub_p3.style.display = "none";
            sub_p4.style.display = "none";


        }
        function showsubpage_3() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.add("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "none";
            sub_p3.style.display = "block";
            sub_p4.style.display = "none";


        }
        function showsubpage_4() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.add("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "none";
            sub_p3.style.display = "none";
            sub_p4.style.display = "block";


        }


    </script>
}