@using Microsoft.AspNetCore.Http;
@model bObject.PA_Form_Full;
@{
    ViewData["Title"] = "PA";
    Layout = "_Layout_NoMenu2";
}

@section Style_{
    <style>
        * {
            box-sizing: border-box;

        }
        body {
        font-size:16px;
        }

        .active {
            border: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

        .border-bottom-2 {
            border-bottom: 2px solid #0d140d;
        }

        .subform {
            border: 0px;
            border-bottom: 1px solid #a9a7a7;
            border-radius: 7px 7px 0px 0px;
        }

            .subform .active {
                border: 1px solid #a9a7a7;
                border-bottom: 0px;
                border-radius: 7px 7px 0px 0px;
            }

        input {
            font: 5rem;
        }

        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }

            .close:hover {
                opacity: 1;
            }

            .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
            }

            .close:before {
                transform: rotate(45deg);
            }

            .close:after {
                transform: rotate(-45deg);
            }

        #mdiv {
            width: 32px;
            height: 32px;
            /*            background-color: red;*/
            border: 0.1rem solid #838383;
            border-radius: 4px;
            background-color: #dcdada;
        }

        #mdiv2 {
            width: 240px;
            height: 32px;
            color: white;
            /*            background-color: red;*/
            border: 0.1rem solid #838383;
            border-radius: 4px;
            background-color: #acaaaa;
        }

        #mdiv:hover {
            /*//width: 18px;
            //height: 18px;*/
            /*            background-color: red;*/
            background-color: #c4c2c2;
        }

        .mdiv {
            height: 18px;
            width: 3px;
            margin-left: 7px;
            background-color: red;
            transform: rotate(45deg);
            Z-index: 1;
        }

        .md {
            height: 18px;
            width: 3px;
            background-color: red;
            transform: rotate(90deg);
            Z-index: 2;
        }

        textarea {
            font-size: 14px;
            /*overflow-y: hidden;*/
        }

        .dynamicDiv {
            width: 200px;
            height: 100px;
            border: solid 1px #c0c0c0;
            background-color: #e1e1e1;
            padding: 5px;
        }
        th, td {
            font-size:15px;
            padding: 15px;
            border: solid 1px black;
            display: table-cell;
            vertical-align: top;
        }
        .center {
            display: flex;
            justify-content: center;
        }
        .pa-header, .pa-body {
            display: flex;
            flex-direction: column;
            
        }
        .header, .sub-header {
            display: flex;
            flex-direction: column;
        }
        .ml-10 {
            margin-left:10px;
        }
        .mr-10 {
            margin-right: 10px;
        }
        div, p, th, td {
            font-family: 'Sarabun', sans-serif;
        }
        .font_kanit {
            font-family: 'Kanit', sans-serif;
        }
    </style>
}
<div class="container pl-10 pr-10">
    <div class="col-lg-12 col-xl-12 mt-2">
        <div class="card border-0 mb-10">
            <div class="card-header bg-white border-0 border-top p-0 pl-1 pr-1">
                <div class="border-bottom-2 pt-1">

                    <form class="form-inline justify-content-between" asp-route="">
                        <div class="d-xl-inline-flex">
                            <div id="page_1" class="mt-2 p-0 pl-4 pr-4 active">
                                <p class="m-0 mt-1 mb-1 font_kanit">แบบฟอร์มพัฒนางาน (PA)</p>
                            </div>
                            <input type="hidden" id="userId" name="userId" value="@Context.Session.GetString("userId")">
                            <input type="hidden" id="formId" name="userId" value="@Context.Session.GetString("formId")">

                        </div>

                        <div class="btn btn-outline-success ml-5 font_kanit" onclick="BACK();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">กลับ</div>
                    </form>
                </div>
            </div>
            <div class="card-body border p-10 shadow">
                <div calss="pa-header">

                    <div class="center">
                        <p class="thick">แบบข้อตกลงในการพัฒนางาน (PA)</p>
                    </div>
                    <div class="center">
                        <p class="thick">สำหรับข้าราชการครูและบุคลากรทางการศึกษา ตำแหน่งครู วิทยฐานะ @Model.UserInfo_UserPosition</p>
                    </div>
                    <div class="center">
                        <p class="thick">(ทุกสังกัด)</p>
                    </div>
                    <div class="center">
                        <p class="thick">ประจำปีงบประมาณ พ.ศ. 2565</p>
                    </div>
                    <div class="center">
                        <p class="thick">ระหว่างวันที่  1  เดือน  ตุลาคม  พ.ศ. 2564  ถึงวันที่ 30 เดือน กันยายน พ.ศ.2565</p>
                    </div>
                </div>
                <div class="pa-body">
                    <div class="ml-5 mr-5 pl-5 pr-5">
                        <div>
                            <p class="thick">ผู้จัดทำข้อตกลง</p>
                        </div>
                        <div>
                            ชื่อ..............@Model.UserInfo_UserName...........นามสกุล.........@Model.UserInfo_LastName..........ตำแหน่งครู...@Model.UserInfo_UserPosition .....
                            สถานศึกษา.. @Model.UserInfo_School...สังกัด........@Model.UserInfo_memberOf...............
                            รับเงินเดือนในอันดับ คศ. @Model.UserInfo_salaryLevel อัตราเงินเดือน …@Model.UserInfo_salaryRate….บาท
                        </div>
                        <div class="header">
                            ประเภทห้องเรียนที่จัดการเรียนรู้ (สามารถระบุได้มากกว่า 1 ประเภทห้องเรียน ตามสภาพการจัด การเรียนรู้จริง)
                        </div>
                        <div class="ml-5">
                             ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน
                        </div>
                        <div class="ml-5">
                             ห้องเรียนปฐมวัย
                        </div>
                        <div class="ml-5">
                             ห้องเรียนการศึกษาพิเศษ
                        </div>
                        <div class="ml-5">
                             ห้องเรียนสายวิชาชีพ
                        </div>
                        <div class="ml-5">
                             ห้องเรียนการศึกษานอกระบบ / ตามอัธยาศัย
                        </div>
                        <br />
                        <div>
                            ข้าพเจ้าขอแสดงเจตจำนงในการจัดทำข้อตกลงในการพัฒนางาน ตำแหน่งครู วิทยฐานะครูชำนาญการพิเศษ ซึ่งเป็นตำแหน่งและวิทยฐานะที่ดำรงอยู่ในปัจจุบันกับผู้อำนวยการสถานศึกษา ไว้ดังต่อไปนี้
                        </div>
                        <br />
                        <div>
                            <p class="thick">ส่วนที่ 1 ข้อตกลงในการพัฒนางานตามมาตรฐานตำแหน่ง</p>
                        </div>
                        <div>
                            <p class="thick">1. ภาระงาน จะมีภาระงานเป็นไปตามที่ก.ค.ศ. กำหนด</p>
                        </div>
                        <div class="ml-3">
                            <div class="d-inline-flex">
                                <div>1.1 ชั่วโมงสอนตามตารางสอน รวมจำนวน &nbsp;</div><span id="Total_Hour_subject" class="form_input"></span><div>&nbsp;ชั่วโมง&nbsp;</div><span id="Total_Min_subject"  class="form_input"></span><div>&nbsp;นาที/สัปดาห์</div>
                            </div>
                            <div id="div-subject"></div>
                            <div></div>
                        </div>
                        <div class="ml-3">
                            <div class="d-inline-flex">
                                <div>1.2 งานส่งเสริมและสนับสนุนการจัดการเรียนรู้ จำนวน &nbsp;</div><span id="Total_Hour_subject-1"  class="form_input"></span><div>&nbsp;ชั่วโมง&nbsp;</div><span id="Total_Min_subject-1" class="form_input"></span><div>&nbsp;นาที/สัปดาห์</div>
                            </div>
                                <div id="div-subject-1"></div>
                                <div></div>
                            </div>
                        
                        <div class="ml-3">
                            <div class="d-inline-flex">
                                <div>1.3 งานพัฒนาคุณภาพการจัดการศึกษาของสถานศึกษา รวมจำนวน &nbsp;</div><span id="Total_Hour_subject-2"  class="form_input"></span><div>&nbsp;ชั่วโมง&nbsp;</div><span id="Total_Min_subject-2" class="form_input"></span><div>&nbsp;นาที/สัปดาห์</div>
                            </div>
                                <div id="div-subject-2"></div>
                                <div></div>
                            </div>
                        
                        <div class="ml-3">
                            <div class="d-inline-flex">
                                <div>1.4 งานตอบสนองนโยบายและจุดเน้น รวมจำนวน &nbsp;</div><span id="Total_Hour_subject-3"  class="form_input"></span><div>&nbsp;ชั่วโมง&nbsp;</div><span id="Total_Min_subject-3" class="form_input"></span><div>&nbsp;นาที/สัปดาห์</div>
                            </div>
                                <div id="div-subject-3"></div>
                                <div></div>
                            </div>
                        



                        <div>
                            <p class="thick">2. งานที่จะปฏิบัติตามมาตรฐานตำแหน่งครู</p> (ให้ระบุรายละเอียดของงานที่จะปฏิบัติในแต่ละด้านว่าจะดำเนินการอย่างไร โดยอาจระบุระยะเวลาที่ใช้ในการดำเนินการด้วยก็ได้)

                        </div>

                        <table class="border shadow">
                            <tbody>
                                <tr>
                                    <th style="width:25%;">
                                        ลักษณะงานที่ปฏิบัติ
                                        ตามมาตรฐานตำแหน่ง
                                    </th>
                                    <th style="width:25%;">
                                        งาน (Tasks)
                                        ที่จะดำเนินการพัฒนา
                                        ตามข้อตกลงใน 1 รอบ
                                        การประเมิน
                                        (โปรดระบุ)
                                    </th>
                                    <th style="width:25%;">
                                        ผลลัพธ์ (Outcomes)
                                        ของงานตามข้อตกลง
                                        ที่คาดหวังให้เกิดขึ้น
                                        กับผู้เรียน
                                        (โปรดระบุ)
                                    </th>
                                    <th style="width:25%;">
                                        ตัวชี้วัด (Indicators)
                                        ที่จะเกิดขึ้นกับผู้เรียน
                                        ที่แสดงให้เห็นถึงการเปลี่ยนแปลงไปในทาง
                                        ที่ดีขึ้นหรือมีการพัฒนา
                                        มากขึ้นหรือผลสัมฤทธิ์
                                        สูงขึ้น(โปรดระบุ)
                                    </th>
                                </tr>

                                <tr>
                                    <td>
                                        <p class="thick">1. ด้านการจัดการเรียนรู้</p>
                                        ลักษณะงานที่เสนอให้ครอบคลุมถึงการสร้างและหรือพัฒนาหลักสูตรการออกแบบการจัดการเรียนรู้การจัดกิจกรรมการเรียนรู้การสร้างและหรือพัฒนาสื่อ นวัตกรรม เทคโนโลยี และแหล่งเรียนรู้ การวัดและประเมินผลการจัดการเรียนรู้
                                        การศึกษา วิเคราะห์ สังเคราะห์เพื่อแก้ปัญหาหรือพัฒนาการเรียนรู้ การจัดบรรยากาศที่ส่งเสริมและพัฒนาผู้เรียนและการอบรมและพัฒนา
                                        คุณลักษณะที่ดีของผู้เรียน
                                    </td>
                                    <td>
                                        @Model.LM_Task
                                    </td>
                                    <td>
                                        @Model.LM_Outcomes
                                    </td>
                                    <td>
                                        @Model.LM_Indicators
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p class="thick">2. ด้านการส่งเสริมและสนับสนุนการจัดการเรียนรู้</p>
                                        ลักษณะงานที่เสนอให้ครอบคลุมถึงการจัดทำข้อมูลสารสนเทศของผู้เรียนและรายวิชา การดำเนินการตามระบบ ดูแลช่วยเหลือผู้เรียน การปฏิบัติงานวิชาการและงานอื่น ๆ ของสถานศึกษา และการประสานความร่วมมือกับผู้ปกครอง ภาคีเครือข่าย และหรือสถานประกอบการ
                                    </td>
                                    <td>
                                        @Model.PS_Task
                                    </td>
                                    <td>
                                        @Model.PS_Outcomes
                                    </td>
                                    <td>
                                        @Model.PS_Indicators
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="thick">3. ด้านการพัฒนาตนเองและวิชาชีพ</p>
                                        ลักษณะงานที่เสนอให้ครอบคลุมถึงการพัฒนาตนเองอย่างเป็นระบบ และต่อเนื่อง การมีส่วนร่วม ในการแลกเปลี่ยนเรียนรู้ทางวิชาชีพเพื่อพัฒนาการจัดการเรียนรู้และการนำความรู้ความสามารถ ทักษะที่ได้จากการพัฒนาตนเอง และวิชาชีพมาใช้ในการพัฒนาการจัดการเรียนรู้ การพัฒนาคุณภาพผู้เรียน และการพัฒนานวัตกรรม	การจัดการเรียนรู้

                                    </td>
                                    <td>
                                        @Model.SP_Dev_Task
                                    </td>
                                    <td>
                                        @Model.SP_Dev_Dev_Outcomes
                                    </td>
                                    <td>
                                        @Model.SP_Dev_Dev_Indicators
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                        <div class="header">
                            <div>หมายเหตุ</div>
                            <div class="ml-5">1. รูปแบบการจัดทำข้อตกลงในการพัฒนา ตามแบบ PA 1 ให้เป็นไปตามบริบท และสภาพการจัดการเรียนรู้ของแต่ละสถานศึกษา โดยความเห็นชอบร่วมกันระหว่างผู้อำนวยการสถานศึกษา และข้าราชการครูผู้จัดทำข้อตกลง</div>
                            <div class="ml-5">2. งาน (Tasks) ที่เสนอเป็นข้อตกลงในการพัฒนางานต้องเป็นงานในหน้าที่ความรับผิดชอบหลัก ที่ส่งผลโดยตรงต่อผลลัพธ์การเรียนรู้ของผู้เรียน และให้นำเสนอรายวิชาหลักที่ทำการสอน โดยเสนอในภาพรวม ของรายวิชาหลักที่ทำการสอนทุกระดับชั้น ในกรณีที่สอนหลายรายวิชา สามารถเลือกรายวิชาใดวิชาหนึ่งได้ โดยจะต้องแสดงให้เห็นถึงการปฏิบัติงานตามมาตรฐานตำแหน่ง และคณะกรรมการประเมินผลการพัฒนางาน ตามข้อตกลงสามารถประเมินได้ตามแบบการประเมิน PA 2</div>
                            <div class="ml-5">3. การพัฒนางานตามข้อตกลง ตามแบบ PA 1 ให้ความสำคัญกับผลลัพธ์การเรียนรู้ ของผู้เรียน (Outcomes) และตัวชี้วัด (Indicators) ที่เป็นรูปธรรม และการประเมินของคณะกรรมการประเมินผลการพัฒนางานตามข้อตกลง ให้คณะกรรมการดำเนินการประเมิน ตามแบบ PA 2 จากการปฏิบัติงานจริง สภาพการจัดการเรียนรู้ในบริบทของแต่ละสถานศึกษา และผลลัพธ์การเรียนรู้ของผู้เรียนที่เกิดจากการพัฒนางาน ตามข้อตกลงเป็นสำคัญ โดยไม่เน้นการประเมินจากเอกสาร</div>
                        </div>
                        <br />
                        <div class="header">
                            <div><p class="thick">ส่วนที่ 2 ข้อตกลงในการพัฒนางานที่เป็นประเด็นท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียน</p></div>
                            <div class="ml-5">
                                ประเด็นที่ท้าทายในการพัฒนาผลลัพธ์การเรียนรู้ของผู้เรียนของผู้จัดทำข้อตกลง ซึ่งปัจจุบันดำรงตำแหน่งครู วิทยฐานะครูชำนาญการพิเศษ ต้องแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังของวิทยฐานะครูชำนาญการพิเศษ คือ การริเริ่ม พัฒนา การจัดการเรียนรู้และการพัฒนาคุณภาพการเรียนรู้ของผู้เรียน ให้เกิดการเปลี่ยนแปลงไปในทางที่ดีขึ้นหรือมีการพัฒนามากขึ้น (ทั้งนี้ ประเด็นท้าทายอาจจะแสดงให้เห็นถึงระดับการปฏิบัติที่คาดหวังในวิทยฐานะที่สูงกว่าได้)

                            </div>
                            <br />
                            <div class="ml-5">
                                ประเด็นท้าทาย เรื่อง  @Model.CL_Point_Text

                            </div>
                            @*<div class="ml-5">
                                เพื่อใช้ในการจัดการเรียนการสอนในช่วงสถานการณ์การระบาดด้วยโรคติดเชื้อไวรัสโคโรน่า 2019 ในรูปแบบออนไลน์และสามารถนำมาประยุกต์ใช้ในการจัดการเรียนการสอน แบบ on-site ในลักษณะห้องเรียนกลับด้าน มีการสร้างหน่วยการเรียนรู้ตามหลักสูตร จัดทำคลิปสอน สร้างแบบทดสอบ สร้างหน่วยเก็บผลงานนักเรียน  เก็บระบบข้อมูลผลงานนักเรียน  สร้างแบบทดสอบแยกตามผลสัมฤทธิ์ทางการเรียน


                            </div>*@

                        </div>
                        <div class="header">
                            <div>
                                <p class="thick">1. สภาพปัญหาการจัดการเรียนรู้และคุณภาพการเรียนรู้ของผู้เรียน</p>
                            </div>
                            <div class="ml-5">
                                @Model.Problem_State
                            </div>

                        </div>
                        <div class="header">
                            <div>
                                <p class="thick">2. วิธีการดำเนินการให้บรรลุผล</p>
                            </div>
                            <div class="ml-5">
                                @Model.Method_To_Acheiivment
                            </div>
                        </div>
                        <div class="header">
                            <div>
                                <p class="thick">3. ผลลัพธ์การพัฒนาที่คาดหวัง</p>
                            </div>
                            <div class="ml-3">
                                3.1 เชิงปริมาณ
                            </div>
                            <div class="ml-5">
                                @Model.QT_Expect_Result
                            </div>
                            <div class="ml-3">
                                3.2 เชิงคุณภาพ
                            </div>
                            <div class="ml-5">
                                @Model.QL_Expect_Result
                            </div>
                        </div>

                        <br>
                        <br>
                        <div class="header justify-content-end">
                            <div class="ml-5">ลงชื่อ........................................................................</div>
                            <div class="ml-5">(&nbsp;&nbsp;@Model.UserInfo_UserName &nbsp;&nbsp; @Model.UserInfo_LastName &nbsp;&nbsp;)</div>
                            <div class="ml-5">ตำแหน่ง  ครู  วิทยฐานะ ครูชำนาญการพิเศษ</div>
                            <div class="ml-5">ผู้จัดทำข้อตกลงในการพัฒนางาน</div>
                            <div class="ml-5">.........../.............../............</div>
                        </div>
                        <br>
                        <br>
                        <div class="header">
                            <div class="sub-header ml-5">
                                <div>ความเห็นของผู้อำนวยการสถานศึกษา</div>
                                <div class="ml-5">
                                    ( ) เห็นชอบให้เป็นข้อตกลงในการพัฒนางาน
                                </div>
                                <div class="ml-5">
                                    ( ) ไม่เห็นชอบให้เป็นข้อตกลงในการพัฒนางาน โดยมีข้อเสนอแนะเพื่อนำไปแก้ไข และเสนอ
                                </div>
                                <div class="ml-5">
                                    เพื่อพิจารณาอีกครั้ง ดังนี้
                                    .......................................................................................................................................
                                    ..............................................................................................................................................................................
                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                        <div class="header justify-content-end">
                            <div class="ml-5">
                                ลงชื่อ....................................................................
                            </div>
                            <div class="ml-5">
                                (xxxxxxxx)
                            </div>
                            <div class="ml-5">
                                ตำแหน่ง ผู้อำนวยการโรงเรียนxxxxxxxxจังหวัดxxxxxxxx
                            </div>
                            <div class="ml-5">
                                ................/.............../...................
                            </div>
                        </div>


                    </div>                            
                </div>            
            </div>            
        </div>
    </div>
</div>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>







@section Scripts {
    <script src="~/js/PA_View.js"></script>
    <script>
        
        $(window).on("load", function () {
            setTimeout(fadout, 500);
            //alert('@(ViewBag.Sbj_Hr)');
            populate_sbj_text("subject", '@(ViewBag.Sbj_Hr)'.replace(/&quot;/g, '"'));
             //alert('@(ViewBag.Sbj_Hr_1)');
            populate_sbj_text("subject-1", '@(ViewBag.Sbj_Hr_1)'.replace(/&quot;/g, '"'));
             //alert('@(ViewBag.Sbj_Hr_2)');
            populate_sbj_text("subject-2", '@(ViewBag.Sbj_Hr_2)'.replace(/&quot;/g, '"'));
             //alert('@(ViewBag.Sbj_Hr_3)');
            populate_sbj_text("subject-3", '@(ViewBag.Sbj_Hr_3)'.replace(/&quot;/g, '"'));
            @*populate_sbj_text("subject-1", '@(ViewBag.Sbj_Hr_1)'.replace(/&quot;/g, '"'));
            populate_sbj_text("subject-2", '@(ViewBag.Sbj_Hr_2)'.replace(/&quot;/g, '"'));
            populate_sbj_text("subject-3", '@(ViewBag.Sbj_Hr_3)'.replace(/&quot;/g, '"'));*@
        });
        function populate_sbj_text(sbj, sbj_hr) {

            var res = sbj_hr;//'@(ViewBag.Sbj_Hr)'.replace(/&quot;/g, '"');
            //alert(res);
            var sbj_Json = JSON.parse(res);
            //alert(sbj_Json.length);
            for (var s = 0; s <= sbj_Json.length - 1; s++) {
                if (sbj_Json[s].hasOwnProperty('subject')) {
                    //alert('subject');
                    var str = sbj_Json[s].subject;
                    var elem = document.createElement("div");
                    elem.innerHTML = str;
                    //alert(elem.textContent);
                    //alert(sbj_Json[s].hour);
                    //alert(sbj_Json[s].min);
                    //alert(sbj);
                    //creat__(sbj);
                    //showMessage(elem.textContent, sbj_Json[s].hour);
                    createRow_text(elem.textContent, sbj_Json[s].hour, sbj_Json[s].min, sbj);

                    //alert(sbj + sbj_Json[s].min);
                    //https://stackoverflow.com/questions/31475747/convert-this-unicode-to-string-with-javascript-thai-language
                    //createRow(decodeURIComponent(escape(sbj_Json[s].subject)), sbj_Json[s].hour);
                }
                else if (sbj_Json[s].hasOwnProperty('Total')) {
                    ////alert('subject');
                    calculateTotal_text(sbj, sbj_Json[s].Total);
                    ////createRow(sbj_Json[s].subject, sbj_Json[s].hour);
                }
            }

        }
        function create__(sbj__) {
            alert('sbj__');
        }

        



        function fadin() {
            $(".loader-wrapper").fadeIn(5);
        }
        function fadout() {
            $(".loader-wrapper").fadeOut(500);
            $("textarea").trigger("click");
        }
        function animate() {
            //alert("");
            fadin();
            fadout();
        }
    </script>

    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-EvaluatePA').addClass('active_');
        $('.a-EvaluatePA').removeClass('text-dark');
    </script>
    <script>
        //var tx = document.getElementsByTagName('textarea');
        //for (var i = 0; i < tx.length; i++) {
        //    tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;font-size:14px;');
        //    //tx[i].addEventListener("input", OnInput, false);
        //}

        //function OnInput(e) {
        //    this.style.height = 'auto';
        //    this.style.height = (this.scrollHeight) + 'px';
        //$(document).on('ready', 'textarea', function () {
        //    $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        //})
        function textAreaFit() {
            var tx = document.getElementsByTagName('textarea');
            for (var i = 0; i < tx.length; i++) {
                tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;font-size:14px;');

                //tx[i].addEventListener("input", OnInput, false);
            }
        }
        $(document).on('click', 'textarea', function () {
            $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        })
        $(document).on('input', 'textarea', function () {
            $(this).outerHeight(38).outerHeight(this.scrollHeight + 3); // 38 or '1em' -min-height
        })
        function fireTrigger() {

            //var tx = document.getElementsByTagName('textarea');
            //for (var i = 0; i < tx.length; i++) {
            //    tx[i].setAttribute('style', 'height:' + '125' + 'px;overflow-y:hidden;font-size:14px;');

            //    //tx[i].addEventListener("input", OnInput, false);
            //}
            $("textarea").trigger("click");
            //alert("clicked");
        }








        

    </script>


    <script>
        var btn_p1 = document.getElementById("page_1");
        var btn_p2 = document.getElementById("page_2");
        var btn_p3 = document.getElementById("page_3");
        var p1 = document.getElementById("page_1_form");
        var p2 = document.getElementById("page_2_form");
        var p3 = document.getElementById("page_3_form");

        var btn_sub_p1 = document.getElementById("subpage_1");
        var btn_sub_p2 = document.getElementById("subpage_2");
        var btn_sub_p3 = document.getElementById("subpage_3");
        var btn_sub_p4 = document.getElementById("subpage_4");
        var sub_p1 = document.getElementById("page_1_subform");
        var sub_p2 = document.getElementById("page_2_subform");
        var sub_p3 = document.getElementById("page_3_subform");
        var sub_p4 = document.getElementById("page_4_subform");


        function showpage_1() {
            //alert("test");

            btn_p1.classList.add("active");
            btn_p2.classList.remove("active");
            btn_p3.classList.remove("active");
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");

            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            p1.style.display = "block";
            p2.style.display = "none";
            p3.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }
        function showpage_2() {

            btn_p1.classList.remove("active");
            btn_p2.classList.add("active");
            btn_p3.classList.remove("active");
            p1.style.display = "none";
            p2.style.display = "block";
            p3.style.display = "none";
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");
            //var x = document.getElementById("section");
            //var y = document.getElementById("chart_");
            //var y_wl = document.getElementById("chart_WaterLevel");
            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            //y.style.display = "block";
            //y_wl.style.display = "none";
            //y_wf.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }
        function showpage_3() {

            btn_p1.classList.remove("active");
            btn_p2.classList.remove("active");
            btn_p3.classList.add("active");
            p1.style.display = "none";
            p2.style.display = "none";
            p3.style.display = "block";
            //var btn1_1 = document.getElementById("chart_watrLevel_btn");
            //var btn1_2 = document.getElementById("chart_waterFlow_btn");
            //var btn2 = document.getElementById("section_btn");
            //var btn3 = document.getElementById("CCTV_btn");
            //var x = document.getElementById("section");
            //var y = document.getElementById("chart_");
            //var y_wl = document.getElementById("chart_WaterLevel");
            //var y_wf = document.getElementById("chart_WaterFlow");
            //var z = document.getElementById("CCTV");
            //y.style.display = "block";
            //y_wl.style.display = "none";
            //y_wf.style.display = "none";
            //x.style.display = "none";
            //z.style.display = "none";
            //btn2.classList.add("btn_proface-primary");
            //btn2.classList.remove("btn-success");
            //btn3.classList.add("btn_proface-primary");
            //btn3.classList.remove("btn-success");
            //btn1.classList.remove("btn_proface-primary");
            //btn1.classList.add("btn-success");
            //btn1_1.classList.add("btn_proface-primary");
            //btn1_1.classList.remove("btn-success");
            //btn1_2.classList.add("btn_proface-primary");
            //btn1_2.classList.remove("btn-success");

        }

        function showsubpage_1() {

            btn_sub_p1.classList.add("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "block";
            sub_p2.style.display = "none";
            sub_p3.style.display = "none";
            sub_p4.style.display = "none";


        }
        function showsubpage_2() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.add("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "block";
            sub_p3.style.display = "none";
            sub_p4.style.display = "none";


        }
        function showsubpage_3() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.add("active");
            btn_sub_p4.classList.remove("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "none";
            sub_p3.style.display = "block";
            sub_p4.style.display = "none";


        }
        function showsubpage_4() {

            btn_sub_p1.classList.remove("active");
            btn_sub_p2.classList.remove("active");
            btn_sub_p3.classList.remove("active");
            btn_sub_p4.classList.add("active");
            sub_p1.style.display = "none";
            sub_p2.style.display = "none";
            sub_p3.style.display = "none";
            sub_p4.style.display = "block";


        }
        function BACK() {
            let user_Id = $('#userId').val();
            window.location.assign("/EvaluatePA/EvaluatePA_Index?user=" + user_Id);

        }
        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }

        function AJ_Submit() {


            //alert("submit");
            //let total = document.getElementById("Total_Hour_Schedule_str")
            //total.value = e.target.value;
            //alert(inputTextValue);
            let input_subject = document.getElementsByName("subject-name");
            //var sum = 0;
            for (var i = 0; i <= input_subject.length - 1; i++) {
                //alert(input_subject[i].value);
                if (isBlank(input_subject[i].value)) {
                    alert("Subject cannot be empty.");
                    return false;
                }


            }

            let input_ = document.getElementsByName("subject-hour");
            //var sum = 0;
            for (var j = 0; j <= input_.length - 1; j++) {
                //alert(input_[j].value);
                if (isBlank(input_[j].value)) {
                    alert("Hour cannot be empty.");
                    return false;
                }

                if (!Number(input_[j].value)) {
                    alert("Hour must be a number.");
                    return false;
                }

                ///

            }


            //////



            let Prefix = 0;
            let Prefix_mr = $('#mr').prop("checked"),
                Prefix_mrs = $('#mrs').prop("checked"),
                Prefix_miss = $('#miss').prop("checked"),
                user_Id = $('#userId').val(),
                FirstName = $('#FirstName').val(),
                LastName = $('#LastName').val(),
                position = $('#position').val(),
                school = $('#school').val(),
                CDate = $('#CDate').val(),
                memberOf = $('#memberOf').val(),
                salaryLevel = $('#salaryLevel').val(),
                salaryRate = $('#salaryRate').val(),
                classroomType = $('#classroomType').val();
            //

            let Total_Hour_Schedule_str = $('#Total_Hour_Schedule_str').val();
            let Total_Hour_Learning_Promotion_Support_str = $('#Total_Hour_Learning_Promotion_Support_str').val();
            let Total_Hour_Q_Education_Mng_Devstr = $('#Total_Hour_Q_Education_Mng_Devstr').val();
            let Total_Hour_Policy_Focus_Sup_str = $('#Total_Hour_Policy_Focus_Sup_str').val();

            let formId = $('#formId').val();
            let LM_Task = $('#LM_Task').val();
            let LM_Outcomes = $('#LM_Outcomes').val();
            let LM_Indicators = $('#LM_Indicators').val();

            let PS_Task = $('#PS_Task').val();
            let PS_Outcomes = $('#PS_Outcomes').val();
            let PS_Indicators = $('#PS_Indicators').val();

            let SP_Dev_Task = $('#SP_Dev_Task').val();
            let SP_Dev_Dev_Outcomes = $('#SP_Dev_Dev_Outcomes').val();
            let SP_Dev_Dev_Indicators = $('#SP_Dev_Dev_Indicators').val();

            let CL_Point = $('#CL_Point').val();
            let CL_Point_Text = $('#CL_Point_Text').val();
            let Problem_State = $('#Problem_State').val();

            let Method_To_Acheivment = $('#Method_To_Acheivment').val();
            let QT_Expect_Result = $('#QT_Expect_Result').val();
            let QL_Expect_Result = $('#QL_Expect_Result').val();

            input_subject = document.getElementsByName("subject-name");
            input_ = document.getElementsByName("subject-hour");
            var JsonResult = JsonBuild(input_subject, input_);
            let Subject_Hour = JsonResult;
            //alert(JsonResult);

            if (Prefix_mr) {
                Prefix = 1;
            }
            if (Prefix_mrs) {
                Prefix = 2;
            }
            if (Prefix_miss) {
                Prefix = 3;
            }

            //alert(Prefix);
            //alert(FirstName);
            //alert(LastName);
            //alert(position);
            //alert(school);
            //alert(CDate);
            //alert(memberOf);
            //alert(salaryLevel);
            //alert(salaryRate);
            //alert(classroomType);

            var param = "Prefix=" + Prefix + "&FirstName=" + FirstName
                + "&LastName=" + LastName + "&position=" + position + "&school_id=" + school + "&CDate=" + CDate
                + "&memberOf=" + memberOf + "&salaryLevel=" + salaryLevel
                + "&Total_Hour_Schedule_str=" + Total_Hour_Schedule_str + "&Subject_Hour=" + Subject_Hour + "&Total_Hour_Learning_Promotion_Support_str=" + Total_Hour_Learning_Promotion_Support_str + "&Total_Hour_Q_Education_Mng_Devstr=" + Total_Hour_Q_Education_Mng_Devstr + "&Total_Hour_Policy_Focus_Sup_str=" + Total_Hour_Policy_Focus_Sup_str
                + "&salaryRate=" + salaryRate + "&classroomType=" + classroomType + "&user_Id=" + user_Id
                + "&LM_Task=" + LM_Task + "&LM_Outcomes=" + LM_Outcomes + "&LM_Indicators=" + LM_Indicators
                + "&PS_Task=" + PS_Task + "&PS_Outcomes=" + PS_Outcomes + "&PS_Indicators=" + PS_Indicators
                + "&CL_Point=" + CL_Point + "&CL_Point_Text=" + CL_Point_Text + "&Problem_State=" + Problem_State
                + "&Method_To_Acheivment=" + Method_To_Acheivment + "&QT_Expect_Result=" + QT_Expect_Result + "&QL_Expect_Result=" + QL_Expect_Result + "&formId=" + formId
                + "&submit=yes";
            //alert(param);
            //alert(param);

            //$.ajax({

            //    type: 'GET',
            //    url: '/EvaluatePA/UpdateUserAll_AJ?' + param,
            //    success: function (result) {
            //        hideModal_Info();
            //        window.location.assign("/Home/Main?user_Id=" + user_Id);

            //    }
            //});
            $.post("/EvaluatePA/UpdateUserAll_AJ",
                {
                    formId: formId,
                    user_Id: user_Id,
                    Prefix: Prefix,
                    FirstName: FirstName,
                    LastName: LastName,
                    position: position,
                    school_id: school,
                    CDate: CDate,
                    memberOf: memberOf,
                    salaryLevel: salaryLevel,
                    Total_Hour_Schedule_str: Total_Hour_Schedule_str,
                    Subject_Hour: Subject_Hour,
                    Total_Hour_Learning_Promotion_Support_str: Total_Hour_Learning_Promotion_Support_str,
                    Total_Hour_Q_Education_Mng_Devstr: Total_Hour_Q_Education_Mng_Devstr,
                    Total_Hour_Policy_Focus_Sup_str: Total_Hour_Policy_Focus_Sup_str,
                    salaryRate: salaryRate,
                    classroomType: classroomType,
                    LM_Task: LM_Task,
                    LM_Outcomes: LM_Outcomes,
                    LM_Indicators: LM_Indicators,
                    PS_Task: PS_Task,
                    PS_Outcomes: PS_Outcomes,
                    PS_Indicators: PS_Indicators,
                    CL_Point: CL_Point,
                    CL_Point_Text: CL_Point_Text,
                    SP_Dev_Task: SP_Dev_Task,
                    SP_Dev_Dev_Outcomes: SP_Dev_Dev_Outcomes,
                    SP_Dev_Dev_Indicators: SP_Dev_Dev_Indicators,
                    Problem_State: Problem_State,
                    Method_To_Acheivment: Method_To_Acheivment,
                    QT_Expect_Result: QT_Expect_Result,
                    QL_Expect_Result: QL_Expect_Result
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    fadin();
                    fadout();
                });

        }



    </script>
    <script>
        function JsonBuild(this_input_subject, this_input_) {

            //let input_subject = document.getElementsByName("subject-name");
            //var sum = 0;
            for (var j = 0; j <= this_input_.length - 1; j++) {
                //alert(this_input_[j].value);
                if (isBlank(this_input_[j].value)) {
                    alert("Hour cannot be empty.");
                    return false;
                }

                if (!Number(this_input_[j].value)) {
                    alert("Hour must be a number.");
                    return false;
                }

                ///

            }
            var JsonRes = "[";
            var sum_ = 0;
            for (var i = 0; i <= this_input_subject.length - 1; i++) {
                //alert(this_input_subject[i].value);
                if (isBlank(this_input_subject[i].value)) {
                    alert("Subject cannot be empty.");
                    return false;
                }
                JsonRes += "{" + "\"subject\"" + ":\"" + this_input_subject[i].value + "\",";
                JsonRes += "\"hour\"" + ":" + this_input_[i].value + "},";

                if (isNaN(this_input_[i].value)) { }
                else {
                    sum_ = Number(sum_) + Number(this_input_[i].value);
                }

                
            }

            //let input_ = document.getElementsByName("subject-hour");
            //var sum = 0;
            JsonRes += "{" + "\"Total\"" + ":" + sum_ + "}";
            JsonRes += "]";
            return JsonRes;
        }

        


    </script>
}