@using Microsoft.AspNetCore.Http;
@model User;
@{
    ViewData["Title"] = "Video";
}

@{
    if (@Context.Session.GetString("userStatus") == "0" || @Context.Session.GetString("userStatus") == "1")
    {
        Layout = "_Layout_NoMenu2";
    }


}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
@section Style_{
    <style>


        .tools {
            position: absolute;
            right: 12px;
            top: 13px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }

            .tools:hover {
                opacity: 1;
            }

        #mdiv {
            width: 18px;
            height: 18px;
            /*            background-color: red;*/
            border: 0px solid black;
        }

        .mdiv {
            height: 18px;
            width: 3px;
            margin-left: 7px;
            background-color: red;
            transform: rotate(45deg);
            Z-index: 1;
        }

        .md {
            height: 18px;
            width: 3px;
            background-color: red;
            transform: rotate(90deg);
            Z-index: 2;
        }

        label {
            font-size: 12px;
        }

        date .local {
            font-size: 14px;
        }

        .topic .local {
            font-size: 12px;
            color: #8e8e8e;
        }

        main {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            /*background-color:chartreuse;*/

        }
        #inner {
            margin: auto;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            width: 250px;
            height: 125px;
/*            background-image: linear-gradient(45deg, #84ECEF 10%, #F8F62F 60%, #FDC018);*/
        }
    </style>
}
<section class="gradient-custom">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                @*<div class="card border-0">*@
                @*<div class="card-header">
            <i class="fa fa-id-badge fa-fw w3-margin-right w3-text-theme"></i>ข้อมูลส่วนตัว
            <div class="tools">
                <i class="fa fa-edit fa-fw w3-text-theme"></i>
            </div>
        </div>*@
                @*<div class="card-body">*@
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container p-3">
                        @{
                            var prefix_ = "";
                            if (Model.Prefix == "1")
                            {
                                prefix_ = "นาย";
                            }
                            else if (Model.Prefix == "3")
                            {
                                prefix_ = "นางสาว";
                            }
                            else if (Model.Prefix == "2")
                            {
                                prefix_ = "นาง";
                            }


                        }

                        <p class="w3-center"><img src="~/images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <h4 class="w3-center font-15">@prefix_  @Model.UserName @Model.LastName</h4>
                        <hr>
                        <p class="font-14"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>@Model.UserPosition</p>
                        <p class="font-14"><i class="fa fa-university fa-fw w3-margin-right w3-text-theme"></i>@Model.School</p>
                        <p class="font-14"><i class="fa fa-map-marker fa-fw w3-margin-right w3-text-theme"></i>@Model.Province</p>
                        <input type="hidden" id="userId" name="userId" value="@Model.Id">
                    </div>
                </div>
                @{ if (Model.Status == 1)
                    {

                        <div class="w3-card w3-round w3-white mt-2">
                            <div class="w3-container">
                                <div class="justify-content-center pt-2 pb-2">
                                    <div class="btn btn-success p-0 pt-1" onclick="showModal_Info();" style="width:100%;height:30px;font-size:0.85rem;font-weight:normal;">คลิกที่นี่สำหรับเข้าสู่ระบบครั้งแรก</div>
                                </div>

                            </div>
                        </div>


                    }
                }
                @*</div>*@

                @*</div>*@


            </div>
            @{
                if (Model.Status > 1)
                {
                    <div class="col-sm-12 col-md-12  col-lg-6 col-xl-3 mt-2">
                        <div class="card border-0">
                            <div class="card-header">

                                <i class="fa fa-file-o fa-fw w3-margin-right w3-text-theme"></i>ไฟล์วีดิโอของฉัน
                            </div>
                            <div class="card-body">
                                @*<div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    File#1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    File#2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    File#3
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    File#4
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <!-- Accordion -->
                                <div class="w3-card w3-round">
                                    <div class="w3-white">
                                        @*<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                                            <div id="Demo1" class="w3-hide w3-container">
                                                <p>Some text..</p>
                                            </div>
                                            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                                            <div id="Demo2" class="w3-hide w3-container">
                                                <p>Some other text..</p>
                                            </div>*@
                                        <button onclick="myFunction('subject-1')" class="w3-button w3-block w3-theme-l1 w3-left-align w3-margin-bottom"><i class="fa fa-film fa-fw w3-margin-right"></i> รหัสวิชา : M-101</button>
                                        <div id="subject-1" class="w3-hide w3-container">
                                            <div class="w3-row-padding">
                                                <br>
                                                <div class="w3-half">
                                                    <img src="~/images/lights.jpg" style="width:100%" class="w3-margin-bottom" onclick="loadVideo1()">
                                                    <p class="w3-center">วันที่ 10-01-2564</p>

                                                </div>
                                                <div class="w3-half">
                                                    <img src="~/images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                                    <p class="w3-center">วันที่ 18-02-2564</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button onclick="myFunction('subject-2')" class="w3-button w3-block w3-theme-l1 w3-left-align w3-margin-bottom"><i class="fa fa-film fa-fw w3-margin-right"></i> รหัสวิชา : M-102</button>
                                        <div id="subject-2" class="w3-hide w3-container">
                                            <div class="w3-row-padding">
                                                <br>

                                                <div class="w3-half">
                                                    <img src="~/images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
                                                    <p class="w3-center">วันที่ 14-06-2564</p>
                                                </div>
                                                <div class="w3-half">
                                                    <img src="~/images/forest.jpg" style="width:100%" class="w3-margin-bottom">
                                                    <p class="w3-center">วันที่ 02-07-2564</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button onclick="myFunction('subject-3')" class="w3-button w3-block w3-theme-l1 w3-left-align w3-margin-bottom"><i class="fa fa-film fa-fw w3-margin-right"></i> รหัสวิชา : BIO-101</button>
                                        <div id="subject-3" class="w3-hide w3-container">
                                            <div class="w3-row-padding">
                                                <br>
                                                <div class="w3-half">
                                                    <img src="~/images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                                    <p class="w3-center">วันที่ 11-09-2564</p>
                                                </div>
                                                <div class="w3-half">
                                                    <img src="~/images/snow.jpg" style="width:100%" class="w3-margin-bottom">
                                                    <p class="w3-center">วันที่ 17-10-2564</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-play fa-fw w3-margin-right w3-text-theme"></i>แสดงไฟล์วิดีโอ
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <video controls="controls">
                                                    <source type="video/mp4" />
                                                    Your browser does not support HTML video.
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                }
                else
                {

                }

            }

        </div>
    </div>
</section>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="loader-wrapper-info">
    @*<span class="loader"><span class="loader-inner" onclick="hideModal();"></span>
        </span>*@

    @{
        var mr_click = "";
        var mrs_click = "";
        var miss_click = "";
        if (Model.Prefix == "1")
        {
            mr_click = "checked";
        }
        else if (Model.Prefix == "2")
        {
            mrs_click = "checked";
        }
        else if (Model.Prefix == "3")
        {
            miss_click = "checked";
        }
        else
        {
            mr_click = "checked";
        }


    }
    <div class="row justify-content-center">
        <div class="col col-sm-12 m-5 border rounded shadow pt-5 pb-5" style="max-width:654px;">


            <form name="page_1_" autocomplete="off" asp-action="PA_1" asp-controller="EvaluatePA" style="border-style: none; border-color: #BEDDFE; width: auto;">
                <div class="row d-inline-flex">
                    <div class="col bg-light rounded ml-lg-4 ml-md-1 m-sm-1" style="min-width:228px;min-height:200px;">
                        <div class="w3-center"><img id="inner" src="~/images/avatar3.png" class="w3-circle" style="height:106px;width:106px;margin:auto;" alt="Avatar"></div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 col-sm-8 m-1 text-center">


                                <div class="d-inline-flex floating-label-group m-0 justify-content-center">
                                    <div class="border p-0 align-items-center pt-1 pl-2 text-white" style="background-color:#099882;width:105px;border-radius:10px 0px 0px 10px;">
                                        <label class="form-label" for="FirstName">คำนำหน้าชื่อ</label>
                                    </div>
                                    <div class="border" style="background-color:#ffffff;width:250px;border-radius:5px;">
                                        <div class="form-check form-check-inline ml-3 align-items-center pt-2">
                                            <input class="form-check-input" type="radio" name="prefix" id="mr" value="mr" @mr_click />
                                            <label class="form-check-label" for="mrs">นาย</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="prefix" id="mrs" value="mrs" @mrs_click />
                                            <label class="form-check-label" for="mrs">นาง</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="prefix" id="miss" value="miss" @miss_click />
                                            <label class="form-check-label" for="miss">นางสาว</label>
                                        </div>
                                        <label class="chevron-label"><span class="chevron right"></span></label>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-12 m-1 text-center">

                                <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                                    <div class="p-0 pt-1 pl-2 text-dark text-left">
                                        <label class="form-label" for="FirstName">ชื่อ</label>
                                    </div>
                                    <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.UserName" />

                                </div>

                            </div>


                            <div class="col-md-12 m-1 text-center">

                                <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                                    <div class="p-0 pt-1 pl-2 text-dark text-left">
                                        <label class="form-label" for="LastName">นามสกุล</label>
                                    </div>
                                    <input type="text" id="LastName" name="LastName" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.LastName" />

                                </div>

                            </div>
                        </div>
                    </div>



                    <!--<div class="col-md-12 mb-1">

    <div class="form-outline flex-container">
        <label class="form-label" for="position">ตำแหน่งวิทยฐานะ</label>
        <div class="autocomplete">
            <input type="text" id="position" name="position" class="form-control form-control-lg font-14" style="height:35px;" value="@Model.UserPosition" />
        </div>-->
                    @*<input id="position" type="text" name="position" class="form-control form-control-lg font-14" style="height:35px;" placeholder="วิทยฐานะ" value="" onchange="">*@

                    <!--</div>

    </div>-->
                    <div class="d-inline-flex col-md-12 m-1 text-center">
                        <div class="col-md-5 col-sm-5 m-0 p-0 text-center">

                            <div class="d-inline-block floating-label-group m-0 p-0 pr-2 w-100">
                                <div class="p-0 pt-1 pl-2 text-dark text-left">
                                    <label class="form-label" for="position1">ตำแหน่ง</label>
                                </div>
                                <input type="text" id="position1" name="position1" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="" />

                            </div>

                        </div>
                        <div class="col-md-7 col-sm-7 m-0 p-0 text-center">

                            <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                                <div class="p-0 pt-1 pl-2 text-dark text-left">
                                    <label class="form-label" for="position">วิทยฐานะ</label>
                                </div>
                                <input type="text" id="position" name="position" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.UserPosition" />

                            </div>

                        </div>
                    </div>

                    @*<div class="col-md-12 mb-1">

            <div class="form-outline">
                <label class="form-label" for="CDate">วันที่ได้รับวิทยฐานะ</label>
                <input type="date" id="CDate" name="CDate" class="form-control form-control-lg font-14" style="height:35px;" />

            </div>

        </div>*@
                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="CDate">วันที่ได้รับวิทยฐานะ</label>
                            </div>
                            <input type="date" id="CDate" name="CDate" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.CDate" />

                        </div>

                    </div>

                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="school">สถานศึกษา</label>
                            </div>
                            <input type="text" id="school" name="school" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.School" />

                        </div>

                    </div>


                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="memberOf">สังกัด</label>
                            </div>
                            <input type="text" id="memberOf" name="memberOf" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.memberOf" />

                        </div>




                    </div>

                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="salaryLevel">อัตราเงินเดือน</label>
                            </div>
                            <input type="text" id="salaryLevel" name="salaryLevel" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.salaryLevel" />

                        </div>

                    </div>


                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="salaryRate">อัตราเงินเดือน</label>
                            </div>
                            <input type="text" id="salaryRate" name="salaryRate" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.salaryRate" />

                        </div>

                    </div>
                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="schoolType">ประเภทสถานศึกษา</label>
                            </div>
                            <input type="text" id="schoolType" name="schoolType" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.classroomType" />

                        </div>

                    </div>

                    <div class="col-md-12 m-1 text-center">

                        <div class="d-inline-block floating-label-group m-0 p-0 w-100">
                            <div class="p-0 pt-1 pl-2 text-dark text-left">
                                <label class="form-label" for="classroomType">ประเภทห้องเรียน</label>
                            </div>
                            <input type="text" id="classroomType" name="classroomType" class="form-control form-control-lg font-14 bg-white" style="width: 100%" value="@Model.classroomType" />

                        </div>

                    </div>









                    <!--<div class="col-md-12 mb-1">-->
                    @*<div class="form-outline">
            <label class="form-label" for="salaryLevel">รับเงินเดือนในอันดับ คศ.</label>
            <input type="text" id="salaryLevel" name="salaryLevel" class="form-control form-control-lg font-14" style="height:35px;" value="@Model.salaryLevel" />

        </div>*@

                    <!--<div class="d-inline-flex floating-label-group m-0">
            <div class="border p-0 align-items-center pt-0 pl-2 text-white" style="background-color:#099882;width:250px;border-radius:10px 0px 0px 10px;">
                <label class="form-label" for="salaryLevel">รับเงินเดือนในอันดับ คศ.</label>
            </div>
            <input type="text" id="salaryLevel" name="salaryLevel" class="form-control form-control-lg font-14" value="@Model.salaryLevel" />
            <label class="chevron-label"><span class="chevron right"></span></label>
        </div>


    </div>-->
                    <!--<div class="col-md-12 mb-1">

    <div class="form-outline">
        <label class="form-label" for="classroomType">ประเภทห้องเรียนที่จัดการเรียนรู้</label>
        <label class="form-label" for="">(สามารถระบุได้มากกว่า 1 ประเภทห้องเรียนตามสภาพการจัดการเรียนรู้จริง)</label>
        <input type="text" id="classroomType" name="classroomType" class="form-control form-control-lg font-14" style="height:35px;" value="@Model.classroomType" />-->
                    @*<div>
            <input type="checkbox" id="ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน" name="ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน"
                   checked>
            <label for="ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน">ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน</label>
        </div>

        <div>
            <input type="checkbox" id="ห้องเรียนปฐมวัย" name="ห้องเรียนปฐมวัย">
            <label for="ห้องเรียนปฐมวัย">ห้องเรียนปฐมวัย</label>
        </div>
        <div>
            <input type="checkbox" id="ห้องเรียนการศึกษาพิเศษ" name="ห้องเรียนการศึกษาพิเศษ">
            <label for="ห้องเรียนการศึกษาพิเศษ">ห้องเรียนการศึกษาพิเศษ</label>
        </div>
        <div>
            <input type="checkbox" id="ห้องเรียนสายวิชาชีพ" name="ห้องเรียนสายวิชาชีพ">
            <label for="ห้องเรียนสายวิชาชีพ">ห้องเรียนสายวิชาชีพ</label>
        </div>
        <div>
            <input type="checkbox" id="ห้องเรียนการศึกษานอกระบบ_ตามอัธยาศัย" name="ห้องเรียนการศึกษานอกระบบ_ตามอัธยาศัย">
            <label for="ห้องเรียนการศึกษานอกระบบ_ตามอัธยาศัย">ห้องเรียนการศึกษานอกระบบ / ตามอัธยาศัย</label>
        </div>*@

                    <!--</div>

    </div>-->
                    @*<div class="col-md-12 mb-1">

            <div class="form-outline">
                <label class="form-label font-weight-normal" style="font-size:10px;" for="">ข้าพเจ้าขอแสดงเจตจำนงค์ทำข้อตกลงในการพัฒนางานตำแหน่งครู วิทยฐานะครูเชี่ยวชาญ ซึ่งเป็นตำแหน่งและวิทยฐานะที่ดำรงอยู่ในปัจจุบันกับผู้อำนวยการสถานศึกษา ไว้ดังนี้</label>
            </div>

        </div>*@
                    <div class="col-md-12 m-1 text-center">
                        <div class="d-inline-flex justify-content-between">
                            <div class="btn btn-outline-primary ml-3" onclick="AJ_Submit();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">บันทึก</div>
                            <div class="btn btn-outline-danger ml-5" onclick="hideModal_Info();" style="padding:3px;width:100px;height:32px;margin-left:0px;margin:4px;">ยกเลิก</div>
                        </div>
                    </div>


                </div>
</form>




        </div>
    </div>
</div>


@section Scripts {
    <script>
        function showModal_Info() {

            // $('.formName').val("");
            //$('.Level').val("");
            //document.getElementById('page_1_').reset();

            //$(".loader-wrapper-info").css('display', 'flex');
            $(".loader-wrapper-info").fadeIn("slow");
            //$(".loader-wrapper").fadeOut("slow");
        }
        function hideModal_Info() {

            // $('.formName').val("");
            //$('.Level').val("");
            //document.getElementById('page_1_').reset();

            //$(".loader-wrapper-info").css('display', 'flex');
            $(".loader-wrapper-info").fadeOut(1000);
            //$(".loader-wrapper").fadeOut("slow");
        }
        $(window).on("load", function () {
            setTimeout(fadout, 1000);
            //setTimeout(function () { return false;}, 2000);
            //setTimeout(fadin, 3000);
        });
        function fadin() {
            $(".loader-wrapper").fadeIn("slow");
        }
        function fadout() {
            $(".loader-wrapper").fadeOut("slow");
        }
    </script>
    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-Video').addClass('active_');
        $('.a-Video').removeClass('text-dark');

        function AJ_Submit() {
            let Prefix = 0;

            let Prefix_mr = $('#mr').prop("checked"),
                Prefix_mrs = $('#mrs').prop("checked"),
                Prefix_miss = $('#miss').prop("checked"),
                user_Id = $('#userId').val(),
                FirstName = $('#FirstName').val(),
                LastName = $('#LastName').val(),
                position = $('#position').val(),
                school = $('#school').val(),
                CDate = $('#CDate').val(),
                memberOf = $('#memberOf').val(),
                salaryLevel = $('#salaryLevel').val(),
                salaryRate = $('#salaryRate').val(),
                classroomType = $('#classroomType').val();
            //alert(Prefix_mr);
            //alert(Prefix_mrs);
            //alert(Prefix_miss);
            if (Prefix_mr) {
                Prefix = 1;
            }
            if (Prefix_mrs) {
                Prefix = 2;
            }
            if (Prefix_miss) {
                Prefix = 3;
            }

            //alert(Prefix);
            //alert(FirstName);
            //alert(LastName);
            //alert(position);
            //alert(school);
            //alert(CDate);
            //alert(memberOf);
            //alert(salaryLevel);
            //alert(salaryRate);
            //alert(classroomType);

            var param = "Prefix=" + Prefix + "&FirstName=" + FirstName
                + "&LastName=" + LastName + "&position=" + position + "&school_id=" + school + "&CDate=" + CDate
                + "&memberOf=" + memberOf + "&salaryLevel=" + salaryLevel
                + "&salaryRate=" + salaryRate + "&classroomType=" + classroomType + "&user_Id=" + user_Id
                + "&submit=yes";
            /*alert(param);*/

            $.ajax({

                type: 'GET',
                url: '/Home/UpdateUser_AJ?' + param,
                success: function (result) {
                    hideModal_Info();
                    window.location.assign("/Home/Main?user_Id=" + user_Id);

                }
            });
        };

    </script>

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function loadVideo1() {
            var videoEl = document.getElementsByTagName('video')[0];
            var sourceEl = videoEl.getElementsByTagName('source')[0];
            sourceEl.src = 'movies/M101.mp4';
            videoEl.load();
        }

    </script>

    <script>
        //function _autocompleteV1(inp_, arr, arr_ID) {
        //    var inp = document.getElementById(inp_);
        //    /*the _autocomplete function takes two arguments,
        //    the text field element and an array of possible _autocompleted values:*/
        //    var currentFocus;
        //    inp.addEventListener("click", function (e) {
        //        var a, b, i, val = this.value;
        //        /*close any already open lists of _autocompleted values*/
        //        closeAllLists();
        //        //if (!val) { return false;}
        //        currentFocus = -1;
        //        /*create a DIV element that will contain the items (values):*/
        //        a = document.createElement("DIV");
        //        a.setAttribute("id", this.id + "autocomplete-list");
        //        a.setAttribute("class", "_autocomplete-items");
        //        /*append the DIV element as a child of the _autocomplete container:*/
        //        this.parentNode.appendChild(a);
        //        /*for each item in the array...*/
        //        for (i = 0; i < arr.length; i++) {
        //            /*check if the item starts with the same letters as the text field value:*/
        //            if (true == true) {
        //                /*create a DIV element for each matching element:*/
        //                b = document.createElement("DIV");
        //                /*make the matching letters bold:*/
        //                b.innerHTML = "" + arr[i].substr(0, val.length) + "";
        //                //b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        //                b.innerHTML += arr[i].substr(val.length);
        //                /*insert a input field that will hold the current array item's value:*/
        //                b.innerHTML += "<input type='hidden' class='form-control form-control-lg font-14' value='" + arr[i] + "'>";
        //                /*execute a function when someone clicks on the item value (DIV element):*/
        //                b.addEventListener("click", function (e) {
        //                    /*insert the value for the _autocomplete text field:*/
        //                    inp.value = this.getElementsByTagName("input")[0].value;
        //                    /*close the list of _autocompleted values,
        //                    (or any other open lists of _autocompleted values:*/
        //                    closeAllLists();
        //                });
        //                a.appendChild(b);
        //            }
        //        }
        //    });
        //    /*execute a function when someone writes in the text field:*/
        //    inp.addEventListener("input", function (e) {
        //        var a, b, i, val = this.value;
        //        /*close any already open lists of _autocompleted values*/
        //        closeAllLists();
        //        if (!val) { return false; }
        //        currentFocus = -1;
        //        /*create a DIV element that will contain the items (values):*/
        //        a = document.createElement("DIV");
        //        a.setAttribute("id", this.id + "autocomplete-list");
        //        a.setAttribute("class", "_autocomplete-items");
        //        /*append the DIV element as a child of the _autocomplete container:*/
        //        this.parentNode.appendChild(a);
        //        /*for each item in the array...*/
        //        for (i = 0; i < arr.length; i++) {
        //            /*check if the item starts with the same letters as the text field value:*/
        //            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        //                /*create a DIV element for each matching element:*/
        //                b = document.createElement("DIV");
        //                /*make the matching letters bold:*/
        //                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        //                b.innerHTML += arr[i].substr(val.length);
        //                /*insert a input field that will hold the current array item's value:*/
        //                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        //                /*execute a function when someone clicks on the item value (DIV element):*/
        //                b.addEventListener("click", function (e) {
        //                    /*insert the value for the _autocomplete text field:*/
        //                    inp.value = this.getElementsByTagName("input")[0].value;
        //                    /*close the list of _autocompleted values,
        //                    (or any other open lists of _autocompleted values:*/
        //                    closeAllLists();
        //                });
        //                a.appendChild(b);
        //            }
        //        }
        //    });
        //    /*execute a function presses a key on the keyboard:*/
        //    inp.addEventListener("keydown", function (e) {
        //        var x = document.getElementById(this.id + "autocomplete-list");
        //        if (x) x = x.getElementsByTagName("div");
        //        if (e.keyCode == 40) {
        //            /*If the arrow DOWN key is pressed,
        //            increase the currentFocus variable:*/
        //            currentFocus++;
        //            /*and and make the current item more visible:*/
        //            addActive(x);
        //        } else if (e.keyCode == 38) { //up
        //            /*If the arrow UP key is pressed,
        //            decrease the currentFocus variable:*/
        //            currentFocus--;
        //            /*and and make the current item more visible:*/
        //            addActive(x);
        //        } else if (e.keyCode == 13) {
        //            /*If the ENTER key is pressed, prevent the form from being submitted,*/
        //            e.preventDefault();
        //            if (currentFocus > -1) {
        //                /*and simulate a click on the "active" item:*/
        //                if (x) x[currentFocus].click();
        //            }
        //        }
        //    });
        //    function addActive(x) {
        //        /*a function to classify an item as "active":*/
        //        if (!x) return false;
        //        /*start by removing the "active" class on all items:*/
        //        removeActive(x);
        //        if (currentFocus >= x.length) currentFocus = 0;
        //        if (currentFocus < 0) currentFocus = (x.length - 1);
        //        /*add class "_autocomplete-active":*/
        //        x[currentFocus].classList.add("autocomplete-active");
        //    }
        //    function removeActive(x) {
        //        /*a function to remove the "active" class from all _autocomplete items:*/
        //        for (var i = 0; i < x.length; i++) {
        //            x[i].classList.remove("autocomplete-active");
        //        }
        //    }
        //    function closeAllLists(elmnt) {
        //        /*close all _autocomplete lists in the document,
        //        except the one passed as an argument:*/
        //        var x = document.getElementsByClassName("_autocomplete-items");
        //        for (var i = 0; i < x.length; i++) {
        //            if (elmnt != x[i] && elmnt != inp) {
        //                x[i].parentNode.removeChild(x[i]);
        //            }
        //        }
        //    }
        //    /*execute a function when someone clicks in the document:*/
        //    document.addEventListener("click", function (e) {
        //        closeAllLists(e.target);
        //    });
        //}

        function autocompleteV1(inp_, arr, arr_ID) {
            var inp = document.getElementById(inp_);
            var currentFocus;
            inp.addEventListener("click", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                var class_ = "autocomplete-" + inp_ + "-items";
                a.setAttribute("class", class_);
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (true == true) {
                        b = document.createElement("DIV");
                        b.innerHTML = "" + arr[i].substr(0, arr[i].length) + "";
                        b.innerHTML += "<input type='hidden' class='form-control form-control-lg font-14' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-" + inp_ + "-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "" + arr[i].substr(0, val.length) + "";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' class='form-control form-control-lg font-14' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-" + inp_ + "-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        //function autocompleteV2(inp, arr, arr_ID) {
        //    var currentFocus;
        //    inp.addEventListener("click", function (e) {
        //        var a, b, i, val = this.value;
        //        closeAllLists();
        //        currentFocus = -1;
        //        a = document.createElement("DIV");
        //        a.setAttribute("id", this.id + "autocomplete-list");
        //        a.setAttribute("class", "autocomplete-items");
        //        this.parentNode.appendChild(a);
        //        for (i = 0; i < arr.length; i++) {
        //            if (true == true) {
        //                b = document.createElement("DIV");
        //                b.innerHTML = "" + arr[i].substr(0, arr[i].length) + "";
        //                b.innerHTML += "<input type='hidden' class='form-control form-control-lg font-14' value='" + arr[i] + "'>";
        //                b.addEventListener("click", function (e) {
        //                    inp.value = this.getElementsByTagName("input")[0].value;
        //                    closeAllLists();
        //                });
        //                a.appendChild(b);
        //            }
        //        }
        //    });
        //    inp.addEventListener("input", function (e) {
        //        var a, b, i, val = this.value;
        //        closeAllLists();
        //        if (!val) { return false; }
        //        currentFocus = -1;
        //        a = document.createElement("DIV");
        //        a.setAttribute("id", this.id + "autocomplete-list");
        //        a.setAttribute("class", "autocomplete-items");
        //        this.parentNode.appendChild(a);
        //        for (i = 0; i < arr.length; i++) {
        //            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        //                b = document.createElement("DIV");
        //                b.innerHTML = "" + arr[i].substr(0, val.length) + "";
        //                b.innerHTML += arr[i].substr(val.length);
        //                b.innerHTML += "<input type='hidden' class='form-control form-control-lg font-14' value='" + arr[i] + "'>";
        //                b.addEventListener("click", function (e) {
        //                    inp.value = this.getElementsByTagName("input")[0].value;
        //                    closeAllLists();
        //                });
        //                a.appendChild(b);
        //            }
        //        }
        //    });
        //    inp.addEventListener("keydown", function (e) {
        //        var x = document.getElementById(this.id + "autocomplete-list");
        //        if (x) x = x.getElementsByTagName("div");
        //        if (e.keyCode == 40) {
        //            currentFocus++;
        //            addActive(x);
        //        } else if (e.keyCode == 38) {
        //            currentFocus--;
        //            addActive(x);
        //        } else if (e.keyCode == 13) {
        //            e.preventDefault();
        //            if (currentFocus > -1) {
        //                if (x) x[currentFocus].click();
        //            }
        //        }
        //    });
        //    function addActive(x) {
        //        if (!x) return false;
        //        removeActive(x);
        //        if (currentFocus >= x.length) currentFocus = 0;
        //        if (currentFocus < 0) currentFocus = (x.length - 1);
        //        x[currentFocus].classList.add("autocomplete-active");
        //    }
        //    function removeActive(x) {
        //        for (var i = 0; i < x.length; i++) {
        //            x[i].classList.remove("autocomplete-active");
        //        }
        //    }
        //    function closeAllLists(elmnt) {
        //        var x = document.getElementsByClassName("autocomplete-items");
        //        for (var i = 0; i < x.length; i++) {
        //            if (elmnt != x[i] && elmnt != inp) {
        //                x[i].parentNode.removeChild(x[i]);
        //            }
        //        }
        //    }
        //    document.addEventListener("click", function (e) {
        //        closeAllLists(e.target);
        //    });
        //}


        /*An array containing all the country names in the world:*/
        var schoolType_list = ["สถานศึกษาที่จัดการศึกษาขั้นพื้นฐาน", "สถานศึกษาที่จัดการศึกษาอาชีวศึกษา", "สถานศึกษาที่จัดการศึกษานอกระบบและการศึกษาตามอัธยาศัย", "สถานศึกษาระดับวิชาชีพ"];
        var schoolSubType1_list = ["ระดับปฐมวัย", "ระดับประถมศึกษา", "ระดับมัธยมศึกษาตอนต้น", "ระดับมัธยมศึกษาตอนปลาย", "ระดับมัธยมศึกษาตอนปลาย","การจัดการศึกษาพิเศษ (ไม่มีระดับชั้น)"];
        var schoolSubType2_list = ["ประกาศนียบัตรวิชาชีพ", "ประกาศนียบัตรวิชาชีพชั้นสูง", "การฝึกอบรมวิชาชีพตามหลักสูตรวิชาชีพระยะสั้น"];
        var schoolSubType3_list = ["การจัดการศึกษานอกระบบระดับการศึกษาขั้นพื้นฐาน", "การจัดการศึกษานอกระบบตามหลักสูตรประกาศนียบัตรวิชาชีพ"];
        var schoolSubType4_list = ["การจัดการศึกษาต่อเนื่อง"];
        var Type_ID = ["0", "1", "2", "3", "4"];
        var classroomType_list = ["ห้องเรียนวิชาสามัญหรือวิชาพื้นฐาน", "ห้องเรียนปฐมวัย", "ห้องเรียนการศึกษาพิเศษ", "ห้องเรียนสายวิชาชีพ", "ห้องเรียนการศึกษานอกระบบ / ตามอัธยาศัย"];
        var classroomType_ID = ["0", "1", "2", "3", "4", "5", "6"];

        var position_list = ["ครูผู้ช่วย", "ครูชำนาญการ", "ครูชำนาญการพิเศษ", "ครูเชี่ยวชาญ", "ครูเชี่ยวชาญพิเศษ"];
        var position_ID = ["0", "1", "2", "3", "4"];
        var position_Main_list = ["ผู้บริหารสถานศึกษา", "ครู"];
        var position_Main_ID = ["0", "1"];

        var school_list = ["โรงเรียนน้ำยืนวิทยา"];
        
        var school_ID = ["300001"];
        //var Factories_ID = Html.Raw(ViewBag.F_Id); //["LKB-103-P00","LKB-106-P00","AMC-90101-S00","LKB-108-P00","NF1003791564","RST-106-P00","LKB-0000000"];
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/

        //autocompleteV1(document.getElementById("position"), position_list, position_ID);
        //_autocompleteV1(document.getElementById("school"), school_list, school_ID);
        autocompleteV1("position1", position_Main_list, position_Main_ID);
        autocompleteV1("position", position_list, position_ID);
        autocompleteV1("school", school_list, school_ID);

        autocompleteV1("schoolType", schoolType_list, Type_ID);
        autocompleteV1("classroomType", classroomType_list, Type_ID);

    </script>


}

