@using Microsoft.AspNetCore.Http;
@model System.Data.DataTable;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Management";
    ViewData["Title"] = "Dashboard";
    var id_ = @Context.Session.GetString("userId");

}



<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
        <div class="card border-0">
            <div class="card-header bg-white border-0 border-top p-0 pl-1 pr-1">
                <div class="border-top pt-1">
                    <form class="form-inline justify-content-between" asp-route="">

                        <div class="mt-2">
                            <h5>ขอประเมินข้อตกลงพัฒนางาน (PA)</h5>
                        </div>
                        <div class="right">

                            @*<div class="btn btn-success p-0 pt-1" onclick="showModal();location.href='@Url.Action("PA_Add", "EvaluatePA")'" style="width:140px;height:30px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-plus w3-text-theme text-white"></i>&nbsp;บันทึกแบบฟอร์ม</div>*@
                            @*<div class="btn btn-success p-0 pt-1" onclick="showModal_Create();" style="width:140px;height:30px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-plus w3-text-theme text-white"></i>&nbsp;สร้างแบบฟอร์ม</div>*@
                            @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                            @*<button type="button" class="btn btn-info btn-lg" onclick="showModal();">X</button>*@
                        </div>

                    </form>
                </div>
            </div>
            <div class="card-body border-0 p-1">
                <!--Grid row-->
                <div class="row wow fadeIn p-0">

                    <!--Grid column-->
                    <div class="col-md-12 mb-12 p0">

                        <!--Card-->
                        <div class="card border-0 p-0">

                            <!--Card content-->
                            <div class="card-body border-0 p-0">

                                <!-- Table  -->
                                <table class="table border-bottom">
                                    <!-- Table head -->
                                    <thead class="blue-grey lighten-4 border-top">
                                        <tr>
                                            <th class="text-center">ลำดับ</th>
                                            <th>ชื่อ-นามสกุล</th>
                                            <th class="text-center">Date/Time</th>
                                            <th class="text-center">สถานะ</th>
                                            <th class="text-center">ผู้ประเมิน</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <!-- Table head -->
                                    <!-- Table body -->
                                    <tbody>
                                        @for (int i = 0; i <= Model.Rows.Count - 1; i++)
                                        {
                                            int j = i + 1;
                                        <tr>
                                            <td class="text-center">@j</td>
                                            <td>@Model.Rows[i].ItemArray[1].ToString() @Model.Rows[i].ItemArray[2].ToString()</td>
                                            <td class="text-center">@Model.Rows[i].ItemArray[3].ToString()</td>
                                            <td class="text-center">รอการประเมิน</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">ทำการประเมิน</td>
                                        </tr>
                                        }
                                        
                                    </tbody>
                                    <!-- Table body -->
                                </table>
                                <!-- Table  -->

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" onclick="hideModal('myModal');">Close</button>*@
                <button type="button" class="btn btn-info btn-lg" onclick="hideModal('myModal');">X</button>
            </div>
        </div>

    </div>
</div>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="loader-wrapper2">
    @*<span class="loader"><span class="loader-inner" onclick="hideModal();"></span>
        </span>*@


    <div class="row p-5 pt-1">
        <div class="col-md-12 mb-4">

            <div class="form-outline" style="opacity:1.0;">
                <div class="card border shadow p-3">
                    <div class="card-header bg-white border-0 border-top p-0 pl-3 pr-3">
                        <div class="form-inline justify-content-between">
                            <div class="pt-2">
                                <label class="form-label" for="fileName">ชื่อแบบฟอร์ม :</label>
                            </div>
                            <span onclick="hideModal_fast();">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-1 pb-2">
                        <form id="PA_Form">
                            <input type="text" id="formName" name="formName" class="form-control form-control-lg mt-2" style="width:350px;font-size:16px;" />
                            <div class="pt-2 pl-3">
                                <label class="form-label" for="Level">ระดับวิทยฐานะ :</label>
                            </div>
                            <input type="text" id="Level" name="Level" class="form-control form-control-lg" style="width:350px;font-size:16px;" value="@Context.Session.GetString("userPosition")" />
                            <div class="btn btn-success mt-3 pt-2" onclick="AJ_Save();" style="width:350px;height:42px;font-size:0.85rem;font-weight:normal;"><i class="fa fa-save w3-text-theme text-white"></i>&nbsp;บันทึก</div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>



@section Scripts {

    <script>
        $(window).on("load", function () {
            setTimeout(fad_out, 500);
        });

        function fad_out() {
            $(".loader-wrapper").fadeOut("slow");
        }
        function hideModal() {
            $(".loader-wrapper2").fadeOut("slow");
        }
        function hideModal_fast() {
            $(".loader-wrapper2").fadeOut("fast");
        }
        function showModal() {
            $(".loader-wrapper").fadeIn("slow");
            $(".loader-wrapper").fadeOut("slow");
        }
        function showModal_Create() {
            // $('.formName').val("");
            //$('.Level').val("");
            document.getElementById("PA_Form").reset();
            $(".loader-wrapper2").css('display', 'flex');
            $(".loader-wrapper2").fadeIn(2000);
            //$(".loader-wrapper").fadeOut("slow");
        }

    </script>
    <script type="text/javascript">
        $('.active_').removeClass('active_');
        $('.a-EvaluatePA').addClass('active_');
        $('.a-EvaluatePA').removeClass('text-dark');

        function View_PA(id, Name) {
            //alert("");

            //let user_Id = Id;
            //let PA_Name = Name;
            var param = "PA_Name=" + Name + "&Id=" + id
                + "&submit=yes&display=block";
            //alert(param);
            window.location.assign("/ManagementPA/PA_View?" + param);
            //$.ajax({

            //    type: 'GET',
            //    url: '/EvaluatePA/EditForm_AJ?' + param,
            //    success: function (result) {
            //        //hideModal_Info();
            //        //location.reload();
            //        //window.location.assign("/EvaluatePA/EvaluatePA_Index?user=" + user_Id);

            //    }
            //});
            //hideModal();

        }

    </script>

}